.col-md-12.fishow_container {
  padding-left: 20px;
  padding-right: 20px;
}
.fishow {
  &-votes_container {
    display: flex;
    cursor: pointer;
    fill: var(--background-color-default);
    &_not_active {
      cursor: not-allowed;
      pointer-events: none;
    }
    svg {
      max-height: 20px;
      max-width: 20px;
      transition-duration: 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }
    svg:last-child {
      transform: rotate(180deg);
    }
  }
  &-content_container {
    .col-md-12 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  &_container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 20px;
    @media screen and (max-width: 767px){
      justify-content: center;
      flex-flow: column;
    }
  }
  &-content {
    textarea {
      height: 50px;
    }
  }
  &_action_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 49px;
    background-color: #3f90dc;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    transition: .3s ease-out all;
    cursor: pointer;
    margin-top: 10px;
    @media screen and (max-width: 767px){
      width: 100%;
    }
    &:hover {
      color: var(--color-typo-primary);
      background-color: #ffd851;
      border-color: #ffd851;
      transition: .3s ease-out all;
    }
    &:focus {
      color: #ffffff;
      background-color: #3f90dc;
      border: 3px solid #ffd851;
      transition: .3s ease-out all;
    }
  }
  &-blog_image__close-button {
    background-color: #fff;
    position: absolute;
    right: -3%;
    height: 60px;
    width: 23px;
    text-align: center;
    font-size: 26px;
    line-height: 50px;
    cursor: pointer;
    color: #8f8f8f;
    border: 1px solid rgba(175, 172, 178, 0.43);
    transition: .3s ease-out all;
    &:hover {
      background-color: #b0b0b0;
      color: rgba(244, 253, 255, 0.96);
      transition: .3s ease-out all;
    }
  }
  &_button_picture {
    label {
      display: none;
    }
    input[type='file'] {
      position: absolute;
      top:-999px;
      visibility:hidden;
    }
  }
  &-blog_image{
    display: flex;
    align-content: center;
    align-items: center;
    img {
      margin: auto;
      width: 350px;
    }
  }
}

.fishow_button_text,.fishow_button_video,.fishow_button_picture {
 @media screen and (max-width: 767px){
    width: 100%;
 }
}
.warning-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  filter: blur(33);
}
.warning-popin {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.warning-container {
  position: absolute;
  left: 0;
  top:0;

}
.fishow_votes {
  svg {
    max-height: 20px;
    max-width: 20px;
    transition-duration: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
  svg:last-child {
    transform: rotate(180deg);
  }
}
