/*
*
* Grid modules
*/

.row-narrow {
  margin-left: -5px;
  margin-right: -5px;

  > [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container-wide {
  max-width: 100%;
  @media (min-width: 1920px) {
    max-width: 1920px;
  }
}

// Custom Grid
//
// Change $enable-grid-classes-custom: true
// that would generate custom grid (example: 10 columns)

$enable-grid-classes-custom: false;
$columns-custom: 10;

@if $enable-grid-classes-custom {
  .row-ten {
    @include make-grid-columns-custom($columns-custom);
  }
}
