/*
*
* Text styling
*/

// Text styles
.text-italic {
  font-style: italic;
}

.text-normal {
  font-style: normal;
}

// Text decoration
.text-underline {
  text-decoration: underline;
}

.text-strike {
  text-decoration: line-through;
}

// Text weight
.font-weight-thin {
  font-weight: 100;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-sbold {
  font-weight: 600;
}

.font-weight-ubold {
  font-weight: 900;
}

// Text spacing
.text-spacing-0 {
  letter-spacing: 0;
}

.text-spacing-50 {
  letter-spacing: 0.05em;
}

// Text color
.text-gray-100 {
  color: $gray-100;
}

.text-gray-200 {
  color: $gray-200;
}

.text-gray-300 {
  color: $gray-300;
}

.text-gray-400 {
  color: $gray-400;
}

.text-gray-500 {
  color: $gray-500;
}

.text-gray-600 {
  color: $gray-600;
}

.text-gray-700 {
  color: $gray-700;
}

.text-gray-800 {
  color: $gray-800;
}

.text-gray-900 {
  color: $gray-900;
}

.text-red {
  color: $red;
}

html .page {
  .text-primary {
    color: var(--color-typo-primary);
  }

  .text-secondary {
    color: var(--color-typo-secondary);
  }
}