.temperature-box.box
  h2.title Температура
  .date.temperature-list
    .date_item(v-for="day in niceDays" :key="day.id") {{ day }}
  .temperature-max.temperature-list.temperature-list__end
    .phenomenon(v-for="phe in dataJSON.phenomen" :key="phe.id")
      .value
        weather(:day="phe")
  .temperature-max.temperature-list.temperature-list__end.temperature-list__p_t
    .temperature-max_item(v-for="max in dataJSON.maxTemp"
      :key="max.id" :style="'padding-bottom:' + max * 3 + 'px'")
      .value +{{ max }}
  .temperature-min.temperature-list.temperature-list__start.temperature-list__p_b
    .temperature-min_item(v-for="min in dataJSON.minTemp"
      :key="min.id" :style="'padding-top:' + (50 - min * 3) + 'px'")
      .value {{ min >= 0 ? '+' : '' }}{{ min }}
