/*
*
* Form styles
*/

//
// Table of Contents:
//
// Form Card
//

// RD mailfrom
.rd-mailform {
  position: relative;
  text-align: left;

  .button {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: $form-input-height;
  }
}

input:-webkit-autofill ~ label,
input:-webkit-autofill ~ .form-validation {
  color: $black;
}

// Form label
.form-label,
.form-label-outside {
  margin-bottom: 0;
  color: $form-input-color;
  font-weight: $form-input-font-weight;
}

// Form input
.form-input {
  display: block;
  width: 100%;
  min-height: $form-input-height;
  padding: $form-input-padding-vertical $form-input-padding-horizontal;
  font-size: $form-input-font-size;
  font-weight: $form-input-font-weight;
  line-height: $form-input-line-height;
  color: $form-input-color;
  background-color: $form-input-background;
  background-image: none;
  border-radius: $form-input-border-radius;
  -webkit-appearance: none;
  transition: .3s ease-in-out;

  @if ($form-input-border) {
    border: $form-input-border;
  }

  &:focus {
    outline: 0;
    border-color: var(--background-color-border);
  }
}

// Form input iconed
.form-input-iconed {
  position: relative;

  ~ .form-label,
  .form-input {
    padding-left: $form-input-padding-horizontal * 1.8 + 24px;
  }

  .form-sm & {
    ~ .form-label,
    .form-input {
      padding-left: $form-input-padding-horizontal * 1.8 + 20px;
    }
  }

  .form-lg & {
    ~ .form-label,
    .form-input {
      padding-left: $form-input-padding-horizontal * 1.8 + 30px;
    }
  }
}

.form-input-icon {
  position: absolute;
  font-size: 24px;
  line-height: 1;
  top: ($form-input-height - 24px) / 2;
  padding: 0 $form-input-padding-horizontal;
  pointer-events: none;

  .form-sm & {
    font-size: 20px;
  }

  .form-lg & {
    font-size: 30px;
  }
}

// Form textarea
textarea.form-input {
  height: $form-textarea-default-height;
  min-height: $form-textarea-default-min-height;
  max-height: $form-textarea-default-max-height;
  resize: vertical;
}

// Form wrap
.form-wrap {
  position: relative;

  &.has-error {
    .form-input {
      border-color: $form-feedback-invalid-color;
    }
  }

  &.has-focus {
    .form-input {
      border-color: $form-feedback-focus-color;
    }
  }
}

.row + .form-wrap { margin-top: 15px; }

// Form wrap offset
.form-wrap + * { margin-top: 11px; }

// Form labels
.form-label {
  position: absolute;
  top: $form-input-height / 2;
  left: 0;
  right: 0;
  padding-left: $form-input-padding-horizontal;
  padding-right: $form-input-padding-horizontal;
  font-size: $form-input-font-size;
  font-weight: $form-input-font-weight;
  line-height: $form-input-line-height;
  pointer-events: none;
  text-align: left;
  z-index: 1;
  transition: .25s;
  will-change: transform;
  transform: translateY(-50%);

  &.focus {
    opacity: 0;
  }

  &.auto-fill {
    color: $form-input-color;
  }
}

// Form label out of the field
.form-label-outside {
  width: 100%;
  margin-bottom: 4px;

  @include media-breakpoint-up(md) {
    position: static;

    &,
    &.focus,
    &.auto-fill {
      transform: none;
    }
  }
}

[data-x-mode='true'] {
  .form-label {
    pointer-events: auto;
  }
}

// Form validation
.form-validation {
  position: absolute;
  right: 8px;
  top: 0;
  z-index: 11;
  margin-top: 2px;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  color: $form-feedback-invalid-color;
  transition: .3s;
}

.form-validation-left {
  .form-validation {
    top: 100%;
    right: auto;
    left: 0;
  }
}

// Form output
#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 15px;
  z-index: 2000;
  visibility: hidden;
  transform: translate3d(-500px, 0, 0);
  transition: .3s all ease;

  &.active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  @include media-breakpoint-up(sm) {
    left: 30px;
  }
}

.form-output {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 2px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.error {
    color: $form-feedback-invalid-color;
  }

  &.success {
    color: $form-feedback-valid-color;
  }
}

// Radio and Checkbox Custom
// -------------------------

// Base Styles
//
.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
  opacity: 0;

  &, &-dummy {
    position: absolute;
    width: 14px;
    height: 14px;
    outline: none;
    cursor: pointer;
  }

  &-dummy {
    pointer-events: none;
    background: var(--background-color-default);

    &:after {
      position: absolute;
      opacity: 0;
      transition: .22s;
    }
  }

  &:focus {
    outline: none;
  }
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  position: relative;
  font-family: $font-family-sec;
  font-weight: 600;
  color: $headings-color;
  text-transform: uppercase;
  letter-spacing: .025em;
  cursor: pointer;

  input {
    position: absolute;
    left: -100vw;
    top: -100vh;
    float: left;
    visibility: hidden;
    opacity: 0;
  }
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
  opacity: 1;
}

// Custom Radio Styles
//
.radio,
.radio-inline {
  padding-left: 28px;

  .radio-custom-dummy {
    top: 1px;
    left: 0;
    width: 21px;
    height: 21px;
    border-radius: $border-radius;
    border: 1px solid $form-input-border-color;
    &::after {
      content: '\f222';
      font-family: $mdi;
      position: absolute;
      top: 0;
      left: 1px;
      font-size: 18px;
      line-height: 18px;
      color: var(--color-bg-default);
    }
  }
}

// Custom Checkbox Styles
//
.checkbox,
.checkbox-inline {
  padding-left: 31px;

  .checkbox-custom-dummy {
    top: 1px;
    left: 0;
    width: 21px;
    height: 21px;
    margin: 0;
    border: 1px solid $form-input-border-color;

    &::after {
      content: '\f222';
      font-family: $mdi;
      position: absolute;
      top: -1px;
      left: 1px;
      font-size: 18px;
      line-height: 18px;
      color: var(--color-bg-default);
    }
  }

  input:disabled ~ .checkbox-custom-dummy {
    background-color: transparent;
    box-shadow: inset 0 1px 1px 0 rgba($black, 0.15);
  }
}

.checkbox-light {
  font-family: $font-family-base;
  font-weight: 400;
  text-transform: none;
}

// Checkbox Count
.checkbox-inline-count {
  font-family: $font-family-sec;
  font-weight: 500;
  color: $gray-500;
}

* + .checkbox-inline-count {
  float: right;
}

// Checkbox filter
.input-filter {
  width: 38px;
  height: 38px;
  padding: 0;
  border-radius: $form-input-border-radius;
  border: 0;

  [class*='custom-dummy'] {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: $form-input-border-radius;
    background-color: #9a9ea2;
    &:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-typo-primary);
    }
  }
}

.input-filter-dark {
  [class*='custom-dummy'] {
    background-color: #4f5257;
  }
}

.input-filter-danube {
  [class*='custom-dummy'] {
    background-color: #6e8fd9;
  }
}

.input-filter-froly {
  [class*='custom-dummy'] {
    background-color: #f38c7f;
  }
}

.input-filter-deco {
  [class*='custom-dummy'] {
    background-color: #c2d789;
  }
}

.input-filter-blue {
  [class*='custom-dummy'] {
    background-color: #5fa7ea;
  }
}

.input-filter-geraldine {
  [class*='custom-dummy'] {
    background-color: #fb7979;
  }
}

// Checkbox reFilter
.input-refilter {
  width: 68px;
  height: 45px;
  padding: 0;
  border-radius: $form-input-border-radius;
  font-family: $font-family-sec;
  font-size: 16px;
  font-weight: 500;

  [class*='custom-dummy'] {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $form-input-border-radius;
    transform: translate(0, 0);
    &::after {
      display: none;
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.input-refilter input:checked +  [class*='custom-dummy'] {
  border-color: var(--background-color-border);
}

.input-refilter input:checked ~ span {
  color: var(--color-bg-default);
  border-color: transparent;
  transition: .3s ease-out all;
}

// Checkbox-Toggle
.toggle-custom {
  padding-left: 60px;
  -webkit-appearance: none;

  &:checked ~ .checkbox-custom-dummy {
    &::after {
      background: var(--color-bg-default);
      transform: translate(20px, -50%);
    }
  }

  & ~ .checkbox-custom-dummy {
    $toggle-height: 20px;
    position: relative;
    display: inline-block;
    margin-top: -1px;
    width: 44px;
    height: $toggle-height;
    background: $form-input-background;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: $toggle-height - 4px;
      height: $toggle-height - 4px;
      left: 0;
      top: 50%;
      background: $gray-400;
      transform: translate(4px, -50%);
      opacity: 1;
      transition: .22s;
    }
  }
}

// Form wrap with recaptca
.form-wrap.form-wrap-recaptcha {
  .form-validation {
    top: 3px;
    left: 14px;
  }

  @include media-breakpoint-down(sm) {
    .recaptcha {
      > * {
        transform: scale(.96);
        transform-origin: 0 50%;
      }
    }
  }
}

.rd-form-inline {
  $spacingX: 8px;
  $spacingY: 8px;
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(stretch);
  text-align: center;
  margin-left: - round($spacingX / 2);
  margin-right: - round($spacingX / 2);
  margin-bottom: -$spacingY;

  > * {
    margin-top: 0;
    margin-bottom: $spacingY;
    padding-left: round($spacingX / 2);
    padding-right: round($spacingX / 2);
  }

  .form-wrap {
    @include flex(1);
    min-width: 185px;
  }

  .form-wrap-select {
    text-align: left;
  }

  .form-button {
    @include flex-direction(row);
    @include align-items(stretch);
    @include flex-shrink(0);
    @include flex-grow(0);
    max-width: calc(100% - 10px);
    min-height: $form-input-height;

    .button {
      min-height: inherit;
    }
  }

  @include media-breakpoint-up(sm) {
    .button {
      display: block;
    }
  }

  &.form-inline-centered {
    @include justify-content(center);
  }
}

.rd-form-inline-condensed {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  margin-left: 0;
  margin-right: 0;

  > * {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .form-wrap {
    @include flex-grow(1);
    width: 100%;
  }

  // Medium ≥576px
  @include media-breakpoint-up(sm) {
    @include flex-direction(row);
    @include align-items(stretch);

    > * {
      margin-bottom: 0;
    }

    .button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .form-input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

/**
* Form Small
*/
.form-sm {
  .form-input,
  .button {
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: $form-input-sm-height;
  }

  .form-validation {
    top: -16px;
  }

  textarea.form-input {
    height: 115px;
  }

  .form-label {
    top: $form-input-sm-height / 2;
  }

  * + .button { margin-top: 10px; }
}

/**
* Form Large
*/
.form-lg {
  .form-input,
  .form-label,
  .select2-container .select2-choice {
    font-size: 16px;
  }

  .form-input,
  .select2-container .select2-choice {
    font-size: 16px;
    padding-top: round(($form-input-lg-height - $form-input-line-height) / 2) - 1px;
    padding-bottom: round(($form-input-lg-height - $form-input-line-height) / 2) - 1px;
  }

  .form-input,
  .select2-container .select2-choice {
    min-height: $form-input-lg-height - 2px;
  }

  .form-button {
    min-height: $form-input-lg-height;
  }

  .form-label {
    top: round($form-input-lg-height / 2);
  }
}

* + .rd-form { margin-top: 20px; }

// Context Styling
%context-dark {
  .form-label,
  .form-input {
    color: $gray-6;
  }

  .form-input {
    background: $gray-8;
    border-color: $gray-8;
  }
}

//
// Inline Creative Form
//
.rd-inline-form-creative {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -15px;

  .form-wrap {
    flex-grow: 1;
    margin: 0 20px 0 0;
    padding-bottom: 15px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 150%;
      border-bottom: 1px solid $body-color;
    }

    &.has-error::after {
      border-bottom-color: $danger-color;
    }
  }

  .form-input-wrap {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 10px;
  }

  .form-label,
  .form-input {
    padding: 0;
    font-family: $font-family-sec;
    font-size: 16px;
    line-height: 1em;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;
  }

  .form-button {
    margin-bottom: 24px;
  }

  .form-label {
    top: 0;
    transform: none;
  }

  .form-input {
    min-height: 20px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    vertical-align: middle;
  }

  .form-button {
    margin-top: 0;
  }

  .form-validation {
    top: auto;
    right: auto;
    bottom: -2px;
    left: 0;
    font-size: 11px;
  }

  input:-webkit-autofill ~ .form-validation {
    color: $danger-color;
  }

  .button {
    padding: 10px;
    min-height: 20px;
  }

  // Medium <768px
  @include media-breakpoint-down(sm) {
    .button {
      padding: 4px 10px;
      line-height: 1;
      border: 0;

      .icon {
        font-size: 12px;
      }
    }
  }

  // Medium ≥768px
  @include media-breakpoint-up(md) {
    .form-label,
    .form-input {
      font-size: 36px;
    }

    .form-input-wrap {
      height: 36px;
      margin-bottom: 15px;
    }

    .form-button {
      margin-bottom: 28px;
    }

    .button {
      padding: 11px 40px;
      border-radius: 40px;
    }
  }

  // Large ≥992px
  @include media-breakpoint-up(lg) {
    .form-label,
    .form-input {
      font-size: 44px;
    }

    .form-input-wrap {
      height: 44px;
    }

    .button {
      padding: 14px 40px;
    }
  }
}

* + .rd-inline-form-creative { margin-top: 15px; }
.rd-inline-form-creative + .row { margin-top: 50px; }

// Medium ≥768px
@include media-breakpoint-up(md) {
  .heading-7 + .rd-inline-form-creative { margin-top: 5px; }
}

%context-dark {
  .form-wrap {
    &::after {
      border-bottom-color: rgba($white, .17);
    }
  }
}

//
// Form Subscribe
//
.rd-mailform-modern {
  .form-label,
  .form-input {
    text-align: center;
  }

  &-inline {
    .button {
      padding: 10px 12px;
    }
  }
}
