/*
*
* Links
*/

//
// Table of Contents:
//
// Default link styles
// Privacy Link
// Link Cart
// Link with icon
// Link Classic
//

// Standard link style
a {
	transition: $transition-base;

	&,
	&:focus,
	&:active,
	&:hover {
		text-decoration: $link-decoration;
	}

	@include link($link-color, $link-hover-color);

	&[href*='tel'],
	&[href*='mailto'] {
		white-space: nowrap;
	}
}

.link {
	display: inline-block;
	line-height: 1.2;
}

.link-md {
	font-size: $font-size-lg;
}

.link-hover {
	color: $link-hover-color;
}

.link-press {
	color: $link-press-color;
}

.link-circle {
	&,
	* {
		border-radius: 50%;
	}
}

// Privacy Link
.privacy-link {
}

* + .privacy-link {
	margin-top: 40px;
}

// Link Cart
.link-cart {
	color: $gray-800;

	> * + * {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}

	&:hover {
		color: var(--color-bg-default);
		.link-cart-counter {
			color: var(--color-typo-primary);
			background: var(--color-bg-default);
		}
	}
}

.link-cart-hidden-link {
	display: none;
}

.link-cart-icon {
	font-size: 17px;
	line-height: 1;
	color: $gray-800;
}

.link-cart-counter {
	position: relative;
	top: -2px;
	height: 18px;
	min-width: 18px;
	font-family: $font-family-sec;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	border-radius: 50%;
	color: $gray-800;
	background: $secondary;
	transition: .22s;
}

.iphone {
	.link-cart-counter {
		line-height: 17px;
	}
}

button.link-cart {
	@include reset-button;
}

%context-dark {
	.link-cart {
		&:hover {
			.link-cart-icon {
				color: $yellow;
			}
		}
	}

	.link-cart-icon {
		color: var(--color-typo-primary);
		transition: .22s;
	}
}

// Link Icon
.link-icon {
	.icon {
		position: relative;
		top: -1px;
		vertical-align: middle;
		font-size: 1.33em;
		transition: .22s;
	}
}

.link-icon-left {
	.icon {
		margin-right: 7px;
	}
}

.link-icon-right {
	.icon {
		margin-left: 7px;
	}
}

%context-dark {
	.link-icon {
		color:var(--color-typo-primary);

		&:hover {
			color: $secondary;
		}
	}
}

// Link Classic
.link-classic {
	font-family: $font-family-sec;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.2;
	color: $headings-color;
}

// Link Light
.link-light {
	color: $body-color;

	&:hover {
		color: var(--color-bg-default);
	}
}

%context-dark {
	.link-light {
		color: var(--color-typo-primary);

		&:hover {
			color: $secondary;
		}
	}
}

//
// Link Image
//
.link-image {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	transition: .22s;
	max-width: 90%;
	opacity: .5;

	img {
		display: block;
	}

	&:hover {
		opacity: 1;
	}
}
