/*
*
* Element groups
*/

html {
  .group {
    @include group(15px, 20px);
  }

  .group-xs {
    @include group(10px);
  }

  .group-sm {
    @include group(12px);
  }

  .group-md {
    @include group(20px);
  }

  .group-xl {
    @include group(30px, 20px);

    @include media-breakpoint-up(lg) {
      @include group-media(45px, 20px);
    }
  }

  .group-sm-justify {

    .button {
      padding-left: 20px;
      padding-right: 20px;
    }

    .button + .button { margin-top: 0; }

    // Small <576px
    @include media-breakpoint-down(xs) {
      text-align: center;

      .button {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 59px;

        .icon { padding-right: 0; }

        > span:not(.icon) {
          display: none;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      > * {
        flex-grow: 1;
        flex-shrink: 0;
      }

      .buttons {
        min-width: 130px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.group-flex {
  display: flex;
  flex-wrap: wrap;
}

.group-flex-xs {
  margin-bottom: -10px;
  margin-left: -10px;
  > * {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

.group-middle {
  display: inline-table;  
  > * {
    vertical-align: middle;
  }
}

* + .group-xs { margin-top: 30px; }
* + .group-sm { margin-top: 30px; }
* + .group-md { margin-top: 30px; }
* + .group-xl { margin-top: 20px; }

.rd-form + .group-sm { margin-top: 12px; }

// Medium ≥768px
@include media-breakpoint-up(md) {
  * + .group-md { margin-top: 40px; }
}
