/* Базовые цвета от которых выстраивается вся политра */
$color-base-base: #000000; /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
$color-base-essential: #18636b; /* Базовый цвет поверхностей */
$color-base-project: #18636b; /* Проектный цвет, от которого выстраивают акцентные состояния */
$color-base-phantom: #292929; /* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
$color-base-path: #ffffff; /* Ссылочный цвет, от которого выстраиваются все их состояния */
$color-base-success: #00985f; /* Цвет успеха */
$color-base-alert: #f33; /* Цвет ошибки */
$color-base-warning: #f90; /* Цвет предупреждения */
$color-base-normal: #dde3e5; /* Цвет нейтральный */
$color-base-system: #778a9b; /* Цвет системнный */

/* Цвета фона */
$color-bg-brand: $color-base-project; /* Цвет фона брендированый */
$color-bg-action:lighten(saturate($color-base-project, 3.50), 1.76); /* Цвет фона действия */
$color-bg-default: $color-base-essential; /* Цвет дефолта */

$color-bg-success: $color-base-success; /* Цвет фона успеха */
$color-bg-alert: $color-base-alert; /* Цвет фона ошибки */
$color-bg-warning: $color-base-warning; /* Цвет фона предупреждения */
$color-bg-normal: $color-base-normal; /* Цвет фона нейтральный */
$color-bg-system: $color-base-system; /* Цвет фона системнный */

/* Цвета текста */
$color-typo-brand: $color-base-project; /* Цвет брендового текста */
$color-typo-primary: $color-base-base; /* Цвет основного текста */
$color-typo-invert: $color-base-normal; /* Цвет основного текста */
$color-typo-success: $color-base-success; /* Цвет текста успеха */
$color-typo-warning: $color-base-warning; /* Цвет текста предупреждения */
$color-typo-alert: $color-base-alert; /* Цвет текста ошибки */

/* Цвета ссылок */
$color-link: $color-base-path; /* Цвет основной ссылки */
$color-link-external: $color-base-path; /* Цвет дополнительной ссылки */


.theme_color_fishow_default {

  /* Цвета блоков */
  //--background-color-gradient: linear-gradient(180deg, rgba(2,101,228,1) 0%, rgba(169,222,247,1) 100%);
  --background-color-primary: #fff;
  --background-color-brand: #18636b;
  --background-color-default: #edeff4;
  --background-color-invert: #292929;
  --background-color-border: #e0e0e5;
  --background-color-warning: #{$color-bg-warning};

  --color-bg-brand: #{$color-bg-brand}; /* Цвет фона брендированый */
  --color-bg-action: #{$color-bg-action}; /* Цвет фона действия */
  --color-bg-default: #{$color-bg-default}; /* Цвет дефолта */
  --color-bg-success: #{$color-bg-success}; /* Цвет успеха */
  --color-bg-alert: #{$color-bg-alert}; /* Цвет ошибки */
  --color-bg-warning: #{$color-bg-warning}; /* Цвет предупреждения */
  --color-bg-normal: #{$color-bg-normal}; /* Цвет нейтральный */
  --color-bg-system: #{$color-bg-system}; /* Цвет системнный */

  /* Цвета текста */
  --color-typo-brand: #{$color-typo-brand}; /* Цвет брендового текста */
  --color-typo-primary: #{$color-typo-primary}; /* Цвет основного текста */
  --color-typo-invert: #{$color-typo-primary}; /* Цвет основного текста */
  --color-typo-success: #{$color-typo-success}; /* Цвет текста успеха */
  --color-typo-warning: #{$color-typo-warning}; /* Цвет текста предупреждения */
  --color-typo-alert: #{$color-typo-alert}; /* Цвет текста ошибки */

  /* Цвета ссылок */
  --color-link: #{$color-link}; /* Цвет основной ссылки */
  --color-link-external: #{$color-link-external}; /* Цвет дополнительной ссылки */

}
