/*
*
* Layouts
*/


.layout-justify {
  @include group(20px);
  text-align: center;
}

// Medium ≥768px
@include media-breakpoint-up(md) {
  .layout-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}