//
// Main styles
//


//
// Components
//
@import "components/type-custom";
@import "components/brand";
@import "components/links";
@import "components/blocks";
@import "components/boxes";
@import "components/units";
@import "components/lists"; 
@import "components/images";
@import "components/icons";
@import "components/tables";
@import "components/dividers";
@import "components/buttons";
@import "components/forms";
@import "components/posts";
@import "components/quotes";
@import "components/thumbnails";
@import "components/breadcrumbs";
@import "components/snackbars";
//@import "components/shop";
@import "components/footers";
@import "components/sport";
@import "components/pagination-custom";
@import "components/comments-custom";
@import "components/badge-custom";
@import "components/card-custom";
@import "components/nav-custom";
@import "components/modal-custom";


//
// Helpers
//
@import "helpers/page-layout";
@import "helpers/text-styling";
@import "helpers/offsets";
@import "helpers/groups";
@import "helpers/sections";
@import "helpers/grid-modules";
@import "helpers/backgrounds";
@import "helpers/utilities-custom";
@import "helpers/layouts";



//
// Plugins
//
@import "plugins/animate";
//@import "plugins/preloader";
@import "plugins/select2";
@import "plugins/ui-to-top";
@import "plugins/rd-navbar";
@import "plugins/rd-range";
@import "plugins/swiper";
@import "plugins/rd-search";
@import "plugins/nav-custom";
@import "plugins/card-custom";
@import "plugins/tooltip-custom";
@import "plugins/counter";
@import "plugins/progress-bar";
@import "plugins/jquery-circle-progress";
@import "plugins/timecircles";
@import "plugins/countdown";
@import "plugins/jquery.fs.stepper";
@import "plugins/doughnut-chart";
@import "plugins/slick";
@import "plugins/google-map";


/*rtl:begin:ignore*/
//@import "plugins/owl-carousel";
//@import "plugins/lightgallery";
@import "plugins/material-parallax";
/*rtl:end:ignore*/
