/*
*
* Sections
* --------------------------------------------------
*/


// Section Spacing
// -------------------------
.section-xs {
  padding: 25px 0;
}

.section-minimal {
  padding: 35px 0;
}

.section-sm,
.section-md,
.section-lg,
.section-xl {
  padding: 30px 0;
}

// Section collapse
.section-collapse + .section-collapse {
  padding-top: 0;
}

.section-collapse:last-child {
  padding-bottom: 0;
}

// Section with bottom zero padding
html [class*='section-'].section-bottom-0 {
  padding-bottom: 0;
}

.section-variant-1 {
  padding: 50px 0;
}

@include media-breakpoint-down(md) {
  section.section-sm,
  section.section-md,
  section.section-lg,
  section.section-xl,
  section.section-xxl {
    &:first-of-type {
      padding-top: 20px;
    }
  }
}

@include media-breakpoint-up(md) {
  .section-sm {
    padding: 60px 0;
  }

  .section-md {
    padding: 30px 0;
  }

  .section-lg {
    padding: 85px 0;
  }

  .section-variant-1 {
    padding: 60px 0 80px;
  }
}

@include media-breakpoint-up(lg) {
  .section-md {
    padding: 20px 0 90px;
  }

  .section-lg {
    padding: 100px 0;
  }
}

@include media-breakpoint-up(xl) {

  .section-lg {
    padding: 115px 0;
  }

  .section-variant-1 {
    padding-bottom: 100px;
  }
}


//
// Custom sections
//

// Section single
.section-single {
  position: relative;
  @include display-flex;
  text-align: center;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color-1, .4);
    z-index: 0;
  }

  p {
    margin-left: auto;
    margin-right: auto;
  }

  * + .rights { margin-top: 35px; }
  * + .countdown-wrap { margin-top: 35px; }
  .countdown-wrap + * { margin-top: 35px; }

  @include media-breakpoint-up(lg) {
    * + .rights { margin-top: 60px; }
    .countdown-wrap + * { margin-top: 35px; }
  }

  .rd-mailform-wrap {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  * + .rd-mailform-wrap {
    margin-top: 20px;
  }
}

.section-single-header {
  padding: calc(1em + 3vh) 0 calc(1em + 2vh);
}

.section-single-main {
  padding: calc(1em + 4vh) 0;
}

.section-single-footer {
  padding: calc(1em + 2vh) 0 calc(1em + 3vh);
}

.section-single-inner {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(space-between);
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;

  > * {
    width: 100%;
  }
}

@supports (display: grid) {
  .section-single-inner {
    display: grid;
    justify-items: center;
    align-content: space-between;
    grid-template-columns: 1fr;
  }
}
