<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Fishow Django REST Vue.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    {% block style %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'assets/js/core.min.js' %}"></script>
<!--    <script type="text/javascript" src="{% static 'main.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>