//
// Accent Colors
//
$primary:               #244c4e;
$primary-light:         lighten(saturate($primary, 3.50), 1.76);
$primary-dark:          darken(desaturate($primary, 0.21), 0.20);

$secondary:             #ffd851;
$secondary-dark:        darken(desaturate($secondary, 11.88), 2.16);


$outer-space: #2c3337;
$abbey: #555c5f;

$shark: #252b2f;
$shark-2: #1f2528;

$gray-6: #707279;

// Navbar
$rd-navbar-dark: $primary;
$rd-navbar-darker: $shark-2;
$rd-navbar-dark-1: $outer-space;
$rd-navbar-light: $gray-6;
$rd-navbar-light-2: $abbey;

$footer-classic-dark: $rd-navbar-dark;
$footer-classic-darker: $rd-navbar-darker;