// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//
// Temporary, used for calculation variables should by named `$_variable-name`
//
// Table of Contents
//
// Color system
// Body
// Page
// Components
// Fonts
// Links
// Z-index master list
// Grid breakpoints
// Grid containers
// Grid columns
// Buttons
// Form
// Pagination
// Tooltips


//
// Gray colors
//
$white:  #fff;
$gray-100: #edeff4;
$gray-200: #d7d7d7;
$gray-300: #ccc;
$gray-400: #b7b7b7; 
$gray-500: #9b9b9b;
$gray-600: #868e96;
$gray-700: #173b34;
$gray-800: #151515;
$gray-900: #111; 
$black:  #000;

//
// Additional gray colors
//
$gray-1: #e1e1e1;
$gray-2: #35363c;
$gray-3: #c6c6c6;
$gray-4: #2c2d31; 
$gray-5: #f5f5f5;
$gray-6: #707279;
$gray-7: #f5f7f9; 
$gray-8: #424349;
$gray-9: #d4d5db;
$gray-10: #e7e8ef;
$gray-11: #f3f4f9;
$gray-12: #5e616e;
$gray-13: #6b6b6e;
$gray-14: #c9dbda;
$gray-15: #010304;
$gray-16: #d1d1d1;
$gray-17: #313539;
$gray-18: #afafaf;
$gray-19: #d4d5de;
$gray-20: #575a65;
$gray-21: #ececec;
$gray-22: #ececec;
$gray-23: #59646a;
$gray-24: #919fa6;

//
// Additional colors
//
$color-1: #2b3341;
$color-2: #384958;
$color-3: #35363c;
$color-4: #2c2d31;


//
// Color Themes
//
$ebony-clay:       #2b3e4f;
$ebony-clay-1:     #293540;
$oxford-blue:      #2e3c49;
$oxford-blue-1:    #354655;
$pickled-bluewood: #2a3743;
$blue-bayoux:      #536475;
$blue-bayoux-1:    #56697a;
$nevada:           #62707e;
$river-bed:        #47525b;

$shark: #252b2f;
$shark-2: #1f2528;

$outer-space: #2c3337;
$abbey: #555c5f;

$limed-spruce: #3c4752;
$nevada: #62707e;
$shuttle-gray: #5a666d;
$blue-bayoux: #536475;

$martinique: #30344d;
$gun-powder: #3c4059;
$comet: #5f6585;
$fiord: #494e6d;
$east-bay: #444c80;
$blue-bell: #9ba1c8;

//
// Color scheme variables
//
$rd-navbar-dark: $gray-2;
$rd-navbar-darker: $gray-4;
$rd-navbar-dark-1: $gray-8;
$rd-navbar-light: $gray-6;
$rd-navbar-light-2: $gray-6;

$footer-classic-dark: $gray-2;
$footer-classic-darker: $gray-4;
$footer-classic-light: $oxford-blue-1;
$footer-classic-lighter: $blue-bayoux-1;

//
// Color system
//

$theme-colors: ();

// Accent colors
$primary:               #35ad79 !default;
$secondary:             #fcef57 !default;

$red:             #fd6565;
$red-1:           #ea5455;
$red-2:           #ff4c39;
$red-3:           #fb7979;
$danger-color:    $red;

$success-color:   #98bf44;
$light-green:     #96c251;
$blue:            #28c0e1;
$blue-dark:       #3f82c0;
$blue-darker:     #3f90dc;


$yellow:            #ffcc00;
$light-yellow:      #eeec49;
$orange:            #ffa04c;
$orange-dark:       #ff8432;
$pink:              #e05151;
$blue-boston:       #3B7CC0;


// Theme colors
$black-invariable:      #000;
$white-invariable:      #fff;

// Additional colors
$facebook:                #3e74bd;
$facebook-light:          #6a99d9;
$facebook-darken:         #2d63ab;

$twitter:                 #37b5e9;
$twitter-light:           #5acbfa;
$twitter-darken:          #37a7d6;

$google:                  #f06868;
$google-light:            #fd9393;
$google-darken:           #dd5b5b;

$instagram:                  #425c7f;
$instagram-light:            #5b78a0;
$instagram-darken:           #344e71;

//
// Page
//
$page-boxed-width:               1600px;
$page-boxed-background-color:    $gray-100;
$page-boxed-background-image:    url('/static/assets/images/bg-pattern-boxed.png');


//
// Body
//
//$body-bg:       var(--background-color-default);
$body-bg:       #000;
//$body-color:    var(--color-typo-primary);
$body-color:    #000;

//
// Components
//
// Define common padding and border radius sizes and more.
$border-width: 1px;

$border-radius:          3px;
$border-radius-lg:       .3rem;
$border-radius-sm:       .2rem;

$transition-base:        all .3s ease-in-out;

// Map
//
$map-height: 200px;
$map-xs-height: 250px;
$map-md-height: 450px;


// Custom
$shadow-area-1:   -3px 0px 50px -2px rgba(0, 0, 0, 0.09);
$shadow-area-2:   1px 1px 10px 0 rgba(0, 0, 0, 0.2);


//
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:   "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-sans-serif-1: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:        "Roboto Slab", "Times New Roman", Times, serif;
$font-family-monospace:    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base:       $font-family-sans-serif;
$font-family-sec:        $font-family-sans-serif-1;

$font-weight-bold: 700;

// Base fonts
$font-size-base: 14px;
$font-size-lg:   16px;
$font-size-sm:   12px;

$_ls-base:  0.025em;

$_lh-base: 24px;
$_lh-lg:   28px;
$_lh-sm:   18px;

$font-weight-base: 400;

// ** < Calculated font values >
$line-height-base: ($_lh-base / $font-size-base);
$line-height-lg:   ($_lh-lg / $font-size-lg);
$line-height-sm:   ($_lh-sm / $font-size-sm);
// ** </ Calculated font values >


// Headings
$headings-font-family:   $font-family-sec;
$headings-font-weight:   500;
$headings-line-height:   1.1;
$heading-letter-spacing: 0.05em;
$headings-color:         $gray-800;

// Template Heading Values
$_h1-fsz: 60;
$_h2-fsz: 48;
$_h3-fsz: 33;
$_h4-fsz: 24;
$_h5-fsz: 18;
$_h6-fsz: 16;

$_h1-lh: 70;
$_h2-lh: 60;
$_h3-lh: 44;
$_h4-lh: 30;
$_h5-lh: 22;
$_h6-lh: 20;

// ** < Calculated Headings values >
$h1-font-size: $_h1-fsz * 1px;
$h2-font-size: $_h2-fsz * 1px;
$h3-font-size: $_h3-fsz * 1px;
$h4-font-size: $_h4-fsz * 1px;
$h5-font-size: $_h5-fsz * 1px;
$h6-font-size: $_h6-fsz * 1px;

$h1-line-height: ($_h1-lh / $_h1-fsz);
$h2-line-height: ($_h2-lh / $_h2-fsz);
$h3-line-height: ($_h3-lh / $_h3-fsz);
$h4-line-height: ($_h4-lh / $_h4-fsz);
$h5-line-height: ($_h5-lh / $_h5-fsz);
$h6-line-height: ($_h6-lh / $_h6-fsz);
// ** </ Calculated Headings values >


// Icon Fonts
$fa:            'FontAwesome';
$mdi:           'Material Design Icons';
$mi:            'Material Icons';
$fl-big-line:   'fl-bigmug-line';

// Lead
$lead-font-size:   24px;
$lead-line-height: 34px;
$lead-font-weight: 300;

// Hr
$hr-border-color: $gray-200;
$hr-border-width: $border-width;

// Mark
$mark-padding:  3px 5px;
$mark-bg:       $gray-700;

$dt-font-weight: inherit;
$list-inline-padding: 5px;

// Code
$code-font-size:              90%;
$code-padding-y:              10px;
$code-padding-x:              5px;
$code-color:                  $gray-900;
$code-bg:                     $gray-100;


//
// Links
//
$link-color:            $primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%); 
$link-press-color:      darken($link-color, 15%);
$link-hover-decoration: underline;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:           1000;
$zindex-sticky:             1020;
$zindex-fixed:              1030;
$zindex-modal-backdrop:     1110; 
$zindex-modal:              1120;
$zindex-popover:            1060;
$zindex-tooltip:            1070;
// Custom
$zindex-rd-navbar:          1090;
$zindex-layout-panel:       1091;


//
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs:   0,
  sm:   576px,
  md:   768px,
  lg:   992px,
  xl:   1200px,
  xxl:  1600px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm:   540px,
    md:   720px,
    lg:   960px,
    xl:   1140px,
    xxl:  1200px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");


//
// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-gutter-width-narrow: 10px;


//
// Buttons
//

$input-btn-padding-y:       14px;
$input-btn-padding-x:       32px;
$input-btn-font-size:       14px;
$input-btn-line-height:     1.25;

$input-btn-padding-y-sm:    9px;
$input-btn-padding-x-sm:    30px;
$input-btn-line-height-sm:  1.5;

$input-btn-padding-y-lg:    17px;
$input-btn-padding-x-lg:    50px;
$input-btn-line-height-lg:  1.5;


$btn-font-family:                $font-family-sec;
$btn-font-weight:                500;
$btn-letter-spacing:             .025em;
$btn-text-transform:             uppercase;

$btn-box-shadow:                 0;
$btn-focus-box-shadow:           0;
$btn-active-box-shadow:          0;

$btn-link-disabled-color:        $gray-600;

$btn-block-spacing-y:            .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius;
$btn-border-radius-lg:           $border-radius-lg;
$btn-border-radius-sm:           $border-radius-sm;

$btn-transition:                 all .3s ease-in-out;

//
// Forms
//
$form-input-height:             60px;
$form-input-lg-height:          70px;
$form-input-sm-height:          50px;

$form-input-color:              $gray-500;
$form-input-color-placeholder:  $form-input-color;

$form-input-background:         $white;
$form-input-border-color:       $gray-1;
$form-input-border-radius:      3px;

$form-input-font-size:          14px;
$form-input-line-height:        24px;
$form-input-font-weight:        400;

$form-input-border:             1px solid $form-input-border-color;
$form-input-padding-horizontal: 19px;
$form-input-line-height:        round($form-input-font-size * 1.7);

$form-input-padding-vertical:   round(($form-input-height - $form-input-line-height) / 2) + 1px;
$form-input-padding:            $form-input-padding-vertical $form-input-padding-horizontal;

@if ($form-input-border != none) {
  $form-input-padding-vertical: round(($form-input-height - $form-input-line-height - (nth($form-input-border, 1) * 2)) / 2);
  $form-input-padding: $form-input-padding-vertical $form-input-padding-horizontal;
}

$form-textarea-default-height:       186px;
$form-textarea-default-min-height:   $form-input-height;
$form-textarea-default-max-height:   round($form-textarea-default-height * 1.7);


$form-feedback-focus-color:   $primary;
$form-feedback-valid-color:   $success-color;
$form-feedback-invalid-color: $danger-color;


//
// Pagination
//
$pagination-padding-y:                 9px;
$pagination-padding-x:                 9px;
$pagination-font-size:                 18px;
$pagination-line-height:               24px;

$pagination-color:                     $gray-800;
$pagination-bg:                        $white;
$pagination-border-width:              0;
$pagination-border-color:              $gray-200;

$pagination-hover-color:               $white;
$pagination-hover-bg:                  $primary;
$pagination-hover-border-color:        $primary;

$pagination-active-color:              $white;
$pagination-active-bg:                 $primary;
$pagination-active-border-color:       $primary;

$pagination-disabled-color:            $white;
$pagination-disabled-bg:               $primary;
$pagination-disabled-border-color:     $primary;

//
// Tooltips
//
$tooltip-max-width:           200px;
$tooltip-color:               $white;
$tooltip-bg:                  $gray-700;
$tooltip-opacity:             1;
$tooltip-padding-y:           6px;
$tooltip-padding-x:           10px;
$tooltip-margin:              0;

$tooltip-arrow-width:         6px;
$tooltip-arrow-height:        6px;
$tooltip-arrow-color:         $tooltip-bg;


