coreapi==2.3.3
Django==3.0.4
django-allauth==0.41.0
django-bootstrap4==1.1.1
django-crispy-forms==1.9.0
django-email-users==1.1.0
django-registration==3.1
django-rest-auth==0.9.5
django-webpack-loader==0.7.0
djangorestframework==3.11.0
Pillow==7.0.0
Pygments==2.6.1