/*
*
* Nav Custom
*/

//
// Table of Contents:
//
// Nav Minimal
// Nav Light



//
// Nav Minimal
//
.nav-minimal { }

.nav-minimal-list {
  @include group(20px, 10px);
  font-family: $font-family-sec;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $gray-6;

  li {
    display: inline-block;
  }

  li.active {
    color: $primary;
  }

  a {
    color: inherit;

    &:hover {
      color: $primary;
    }
  }
}

//
// Nav Light
//
.nav-light-list {
  @include group(20px, 10px);
  letter-spacing: .05em;
  li {
    display: inline-block;
  }

  a {
    color: inherit;
  }

  li.active,
  a:hover {
    color: $primary;
  }
}


// Large ≥992px
@include media-breakpoint-up(lg) {
  .nav-minimal-list {
    @include groupX(40px);
  }
}



