/**
*
* Shop
*/

//
// Table of Contents:
//
// Shop Card
// Product Inline
// Cart Inline
// Product Grid
// Product List
// Product Single

$product-gradient-color-1: #eef1f4;
$product-gradient-color-2: #d5deeb;

@mixin shop-image-background {
	background-image: linear-gradient(to bottom, $product-gradient-color-1 0%, $product-gradient-color-2 100%);
}

@mixin shop-image-background-hover {
	background-image: linear-gradient(to bottom, $product-gradient-color-1 0%, darken($product-gradient-color-2, 7%) 100%);
}

//
// Shop Card
//
.card-shop {
	padding: 30px 15px 25px;
	background-color: $gray-100;
	border: 1px solid $gray-1;
}

* + .card-shop {
	margin-top: 26px;
}

// Medium ≥768px
@include media-breakpoint-up(md) {
	.card-shop {
	}
}

// Mega large ≥1600px
@include media-breakpoint-up(xxl) {
	.card-shop {
		min-height: 161px;
		padding: 30px 22px 25px;
	}
}

.bg-gray-100 {
	.card-shop {
		background-color: $white;
	}
}

//
// Shop Card Table
//
.card-shop-table {
	font-family: $font-family-sec;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: $gray-800;
	background-color: $white;
	border: 1px solid $gray-1;

	tr + tr {
		border-top: 1px solid $gray-1;
	}

	td {
		width: 50%;
		vertical-align: middle;
		padding: 20px 15px;
		white-space: nowrap;
	}

	td:first-child {
		text-align: left;
	}

	td:last-child {
		font-size: 18px;
		font-weight: 400;
		text-align: right;
	}
}

// Medium ≥576px
@include media-breakpoint-up(sm) {
	.card-shop-table {
		td {
			padding: 28px 22px;
		}
		td:last-child {
			padding-right: 60px;
		}
	}
}

//
// Product Inline
//
.product-inline {
	display: flex;
	align-items: center;
	@include groupX(15px);
}

.product-inline-figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 83px;
	@include shop-image-background;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		transform-origin: 50% 100%;
		transform: scale3d(1, .3, 1);
		transition: .4s;
		@include shop-image-background-hover;
	}

	&:hover {
		&::after {
			opacity: 1;
			visibility: visible;
			transform: scale3d(1, 1, 1);
		}
	}
}

.product-inline-image {
	position: relative;
	z-index: 1;
	max-width: 90%;
	max-height: 90%;
}

.product-inline-title {
}

.product-inline-price {
	font-family: $font-family-sec;
	color: $primary;
}

.product-inline-meta {
	display: table;
	vertical-align: middle;
	@include group(12px);

	> * {
		vertical-align: middle;
	}
}

* + .product-inline-title {
	margin-top: 10px;
}

* + .product-inline-meta {
	margin-top: 5px;
}

* + .product-inline {
	margin-top: 20px;
}

//
// Cart Inline
//
.page .cart-inline {
	@include context-light;
	background: $white;
	border: 1px solid $gray-1;
	text-align: left;
}

.cart-inline .cart-inline-inner {
	> * + * {
		border-top: 1px solid $gray-1;
	}
}

// Mods
.cart-inline-toggled-outer {
	position: relative;

	.cart-inline-toggle {
		position: relative;
		z-index: 12;
		&::after {
			content: '';
			position: absolute;
			bottom: -21px;
			left: 13%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 9px 9px 9px;
			border-color: transparent transparent $white transparent;
			pointer-events: none;
		}
	}

	.cart-inline-toggled,
	.cart-inline-toggle::after {
		opacity: 0;
		visibility: hidden;
		transition: .22s;
		transform: translate3d(0, -10px, 0);
	}

	.cart-inline-toggled.active,
	.cart-inline-toggle.active::after {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
}

.cart-inline-toggled {
	position: absolute;
	right: 0;
	margin-top: 17px;
	top: 100%;
	z-index: 11;
	min-width: 320px;
	max-width: 100%;

	.cart-inline-inner {
		max-height: calc(100vh - 56px);
		overflow-x: hidden;
		overflow-y: auto;
	}
}

// Elements
.cart-inline-header,
.cart-inline-main,
.cart-inline-footer {
	padding: 10px 15px;
}

.cart-inline-footer {
	.button {
		padding-left: 10px;
		padding-right: 10px;
		width: calc(50% - 5px);
	}

	.button + .button {
		margin-top: 0;
		margin-left: 10px;
	}
}

.cart-inline-title {
	letter-spacing: .025em;
}

.cart-inline-subtitle {
	font-family: $font-family-sec;
	text-transform: uppercase;
	letter-spacing: .05em;
}

* + .cart-inline-subtitle {
	margin-top: 5px;
}

// Medium ≥768px
@include media-breakpoint-up(md) {
	.cart-inline-header,
	.cart-inline-main,
	.cart-inline-footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.cart-inline-header {
		padding-top: 25px;
	}

	.cart-inline-main {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.cart-inline-footer {
		padding-top: 25px;
		padding-bottom: 30px;
	}
}

//
// Shop product
//
.product {
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	box-shadow: 0 3px 10px 0 rgba($gray-15, 0);
	transition: .3s ease-out all;
}

.product-header {
	position: relative;
	min-height: 345px;
	@include shop-image-background;

	.badge {
		position: absolute;
		top: 33px;
		left: 21px;
	}
}

.product-figure {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s ease-out all;

	img {
		will-change: transfrom;
		transition: .3s ease-out all;
	}
}

// Share buttons wrap
.product-buttons {
	position: absolute;
	right: 13px;
	bottom: 7px;
	transition: .3s ease-out all;
}

// Share button
.product-button {
	display: block;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	color: $gray-800;
	background-color: $white;
	border-radius: $border-radius;
	cursor: pointer;
}

// Share button with link
a.product-button:hover {
	color: $white;
	background-color: $primary;
}

// Social icon list
.product-share {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 23px 5px;
	border-radius: $border-radius;
	transform-origin: 0 0;
	cursor: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s ease-out opacity;
	transition-delay: .3s;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		height: 65px;
		left: 0;
		right: 0;
		background-color: $white;
		transition: .3s ease-out all;
	}
}

.product-button-share:hover {
	&:before {
		opacity: 0;
		transform: scale(0);
	}

	.product-share {
		opacity: 1;
		visibility: visible;
		transition-delay: 0s;
		&:before {
			height: 100%;
		}
	}

	.product-share-item {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		transition: .2s ease-out all;
		&:nth-child(1) {
			transition-delay: .1s;
		}
		&:nth-child(2) {
			transition-delay: .133s;
		}
		&:nth-child(3) {
			transition-delay: .166s;
		}
		&:nth-child(4) {
			transition-delay: .199s;
		}
		&:nth-child(5) {
			transition-delay: .211s;
		}
		&:nth-child(6) {
			transition-delay: .244s;
		}
	}
}

.product:hover {
	.product-buttons {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.product-button {
		opacity: 1;
	}
}

// Social icon list elements
.product-share-item {
	font-family: $font-family-sec;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
	color: $gray-500;
	transform: translateY(-5px);
	transition: .1s ease-out all;

	&:nth-child(6) {
		transition: 0s ease-out all;
		transition-delay: .0s;
	}
	&:nth-child(5) {
		transition: 0s ease-out all;
		transition-delay: .05s;
	}
	&:nth-child(4) {
		transition-delay: .07s;
	}
	&:nth-child(3) {
		transition-delay: .08s;
	}
	&:nth-child(2) {
		transition-delay: .09s;
	}
	&:nth-child(1) {
		transition-delay: .1s;
	}

	.icon {
		font-size: 16px;
		transition: .3s ease-out all;

		&.fa-google-plus {
			font-size: 14px;
		}

		&, &:focus, &:active {
			color: $gray-800;
		}
		&:hover {
			color: $primary;
		}
	}
}

.product-button-share {
	&::before {
		display: inline-block;
		opacity: 1;
		transform: scale(1);
		transition: .5s ease-out all;
	}
}

// Main info content
.product-content {
	padding: 25px;
	text-align: center;
	background-color: $white;
	border: 1px solid $gray-1;
	border-top: 0;
}

// Prices
.product-price {
	font-family: $font-family-sec;
	font-weight: 400;

	// Custom new styles
	.product-price-new {
		font-weight: 400;
		color: $blue-darker;
	}
	* + * {
		margin-left: 7px;
	}
}

// Base price style
.product-price-old {
	text-decoration: line-through;
	color: $gray-500;
}

// List of stars icons
.product-rating {
	line-height: 1;
	> li {
		display: inline-block;
		margin: 0 -2px;
		font-size: 19px;
		color: $yellow;
	}
}

.product:hover {
	.product-figure {
		img {
			transform: scale(1.05);
		}
	}
	box-shadow: 0 3px 10px 0 rgba($gray-15, .35);;
}

* + .product {
	margin-top: 30px;
}

* + .product-button {
	margin-top: 10px;
}

* + .product-rating {
	margin-top: 1px;
}

* + .product-price {
	margin-top: 9px;
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	.desktop {
		.product-button {
			opacity: 0;
			transition: .3s ease-out all;
		}

		.product-buttons {
			opacity: 0;
			visibility: hidden;
			transform: translateY(15px);
		}

		.product-share-item {
			opacity: 0;
			visibility: hidden;
		}

		* + .product-button {
			margin-top: -5px;
		}

		.product:hover {
			* + .product-button {
				margin-top: 10px;
			}
		}
	}
}

// Shop Grid Product SM
.product-sm {
	max-width: 272px;

	.product-header {
		min-height: 251px;
	}
	.product-header .badge {
		top: 21px;
		left: 16px;
	}
	.product-content {
		padding: 20px 10px
	}
	.product-title,
	.product-price-new,
	.product-price-old {
		font-size: 14px;
	}
	* + .product-price {
		margin-top: 1px;
	}

	.product-button {
		width: 53px;
		height: 53px;
		line-height: 53px;
	}

	.product-share {
		padding: 16px 5px;
	}
}

//
// Shop List Product
//
.product-list {
	border: 1px solid $gray-1;
	background-color: $white;

	.product-list-title {
		font-weight: 400;
	}
	.badge {
		position: absolute;
		top: 27px;
		left: 19px;
	}
}

.product-list-aside {
	position: relative;
	width: 100%;
	min-height: 330px;
	@include shop-image-background;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.product-list-main {
	padding: 25px 15px;
}

.product-list-info {
	margin: 0 -4px;
	font-family: $font-family-sec;
	color: $gray-500;
	text-transform: uppercase;
	> li {
		display: inline-block;
		vertical-align: middle;
		padding: 0 4px;
		line-height: 1;
	}
}

.product-list-rating {
	font-size: 19px;
	color: $yellow;
	> li {
		display: inline-block;
		margin: 0 -4px;
	}
}

.product-list-price {
	font-family: $font-family-sec;
	font-size: $font-size-lg;

	> li {
		display: inline-block;
		vertical-align: baseline;
	}

	.product-list-price-new {
		font-family: inherit;
		font-weight: 400;
		color: $blue-dark;
	}
}

.product-list-price-old {
	text-decoration: line-through;
}

.product-list-buttons {
	margin: 0 -4px;

	> li {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 4px;
	}

	// Extra large ≥1200px
	@include media-breakpoint-between(xl, xl) {
		.button {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}

.product-list-share {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	min-height: 50px;
	overflow: hidden;
}

.product-list-share-btn {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 19px;
	line-height: 50px;
	text-align: center;
	opacity: 1;
	border-radius: $border-radius;
	cursor: pointer;
	transform: translateX(0);
	transition: .3s ease-out transform, .3s ease-out opacity;
	&, &:focus, &:active {
		color: $gray-800;
		background-color: $secondary-dark;
	}
}

.product-list-share ul {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	min-height: 50px;
	margin-left: 50px;
	text-align: left;
	color: $gray-800;
	background-color: $white;
	border-radius: $border-radius;
	opacity: 0;
	transition: .3s ease-out all;
}

.product-list-share ul li {
	display: inline-block;
	padding: 0 8px;
	font-family: $font-family-sec;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
	color: $gray-500;
	opacity: 0;
	transform: translateX(15px) scale(0.5);
	transition: .3s ease-out transform, .3s ease-out opacity;
}

.product-list-share a.icon {
	&, &:focus, &:active {
		color: $gray-800;
	}
	&:hover {
		color: $primary;
	}
}

.product-list-share.focus {
	.product-list-share-btn {
		opacity: 0;
		transform: translateX(-50%);
	}
	ul {
		margin-left: 0;
		margin-right: 50px;
		opacity: 1;
	}
	ul li {
		opacity: 1;
		transform: translateX(0) scale(1);
		transition-delay: .1s;
		&:nth-child(2) {
			transition-delay: .2s;
		}
		&:nth-child(3) {
			transition-delay: .3s;
		}
		&:nth-child(4) {
			transition-delay: .4s;
		}
		&:nth-child(5) {
			transition-delay: .5s;
		}
		&:nth-child(6) {
			transition-delay: .6s;
		}
		&:nth-child(7) {
			transition-delay: .7s;
		}
		&:nth-child(8) {
			transition-delay: .8s;
		}
		&:nth-child(9) {
			transition-delay: .9s;
		}
	}
}

* + .product-list {
	margin-top: 30px;
}

* + .product-list-info,
* + .product-list-price,
* + .product-list-text,
* + .product-list-buttons {
	margin-top: 5px;
}

// Medium ≥576px
@include media-breakpoint-up(sm) {
	.product-list-main {
		padding: 30px;
	}
}

// Medium ≥768px
@include media-breakpoint-up(md) {
	.product-list {
		display: flex;
	}

	.product-list-aside {
		max-width: 370px;
		min-height: 344px;
	}

	.product-list-main {
		align-self: center;
	}

	* + .product-list-info {
		margin-top: 10px;
	}
	* + .product-list-price {
		margin-top: 10px;
	}
	* + .product-list-text {
		margin-top: 10px;
	}
	* + .product-list-buttons {
		margin-top: 10px;
	}
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	.product-list {
		max-width: 870px;
	}
}

// Product Single
.product-single {
	background-color: $white;
	border: 1px solid $gray-1;

	.product-single-title,
	.product-single-price-new {
		font-weight: 400;
	}

	.product-single-title {
		text-transform: uppercase;
		color: $gray-800;
	}

	.product-single-price-new {
		color: $primary;
	}

	.input-refilter {
		width: 52px;
		height: 38px;
		line-height: 38px;
	}

	// With owl carousel
	.owl-carousel {
		position: static;

		.owl-stage {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.owl-item {
			width: 100% !important;
		}
	}

	// Owl dots posotion
	.owl-dots {
		position: absolute;
		right: 0;
		bottom: 10px;
		left: 0;
	}

	// Share Block
	.product-list-buttons {
		.button,
		.product-list-share,
		.product-list-share ul,
		.product-list-share-btn {
			min-height: 59px;
		}

		.product-list-share-btn {
			width: 59px;
			line-height: 59px;
		}
	}
}

// Figure
.product-single-figure {
	position: relative;
	padding: 90px 15px 80px;
	@include shop-image-background;
}

.product-single-main {
	padding: 30px 15px;
}

// Old Price
.product-single-price-old {
	font-family: $font-family-sec;
	font-size: $font-size-lg;
	text-decoration: line-through;
	color: $gray-500;
}

// Rating
.product-single-rating {
	font-size: 19px;
	color: $yellow;
	> li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 -2px;
	}
}

// Text
.product-single-text {
}

.product-single-text + * {
	margin-top: 22px;
	padding-top: 12px;
	border-top: 1px solid $gray-1;
}

// Info
.product-single-info {

	.product-radio-title {
		min-width: auto;
	}

	.list-inline {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}

	> li {
		margin-top: 7px;
	}
}

.product-radio-title {
	display: inline-block;
	min-width: 85px;
	padding-right: 10px;
	font-family: $font-family-sec;
	color: $gray-800;
	text-transform: uppercase;
}

.product-single * + .product-list-buttons {
	margin-top: 23px;
}

* + .product-single-meta,
* + .product-single-text {
	margin-top: 8px;
}

// Medium ≥768px
@include media-breakpoint-up(lg) {
	.product-single {
		display: flex;

		.owl-dots {
			bottom: 60px;
		}
	}

	.product-single-figure {
		display: flex;
		flex-basis: 100%;
		flex-grow: 1;
		flex-shrink: 0;
		width: calc(47% - 15px);
		max-width: calc(47% - 15px);
		align-items: center;
		padding: 60px 30px;
	}

	.product-single-main {
		padding: 60px 30px;
	}
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	.product-single-figure {
		width: calc(50% - 15px);
		max-width: calc(50% - 15px);
	}
}

// Product Additional
.product-single-additional {
	&.tabs-corporate {
		.nav-link {
			color: $gray-500;
		}
	}
}

* + .product-single-additional,
* + .product-single-additional.tabs-corporate,
* + .product-single-additional.tabs-corporate.tabs-custom {
	margin-top: 35px;
}

// Large ≥992px
@include media-breakpoint-up(lg) {
	* + .product-single-additional,
	* + .product-single-additional.tabs-corporate,
	* + .product-single-additional.tabs-corporate.tabs-custom {
		margin-top: 50px;
	}
}

// Product comment
.product-comment-title,
.product-comment-time,
.product-comment-rating {
	display: inline-block;
}

.product-comment-title {
	font-family: $font-family-sec;
	font-size: $_h5-fsz;
	font-weight: 500;
	text-transform: uppercase;
	color: $gray-800;
}

.product-comment-title + .product-comment-time {
	margin-left: 8px;
	padding-left: 12px;
	border-left: 1px solid $gray-200;
}

.product-comment-time {
	line-height: 1;
}

.product-comment-rating {
	display: block;
	font-size: 19px;
	line-height: 1;
	color: $yellow;
	> li {
		display: inline-block;
		margin: 0 -2px;
		line-height: inherit;
	}
}

* + .product-comment {
	margin-top: 23px;
}

* + .product-comment-main {
	margin-top: 10px;
}

* + .product-comment-main-footer {
	margin-top: 10px;
}

* + .product-comment-rating {
	margin-top: 6px;
}

// Medium ≥576px
@include media-breakpoint-up(sm) {
	.product-comment {
		display: flex;
	}

	.product-comment-aside {
		flex-shrink: 0;
		padding-right: 20px;
	}

	.product-comment-main {
		flex-grow: 1;
	}

	.product-comment-rating {
		float: right;
	}

	* + .product-comment-rating,
	* + .product-comment-main {
		margin-top: 0;
	}
}

//
// Shopping Cart
//
.product-cart {
}

.product-cart-name {
	display: flex;
	align-items: center;
	white-space: normal;
}

.product-cart-media {
	position: relative;
	overflow: hidden;
	display: block;
	flex-shrink: 0;
	width: 70px;
	height: 80px;
	line-height: 80px;
	padding: 0 15px;
	text-align: center;
	@include shop-image-background;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		transform-origin: 50% 100%;
		transform: scale3d(1, .3, 1);
		transition: .4s;
		@include shop-image-background-hover;
	}

	&:hover {
		&::after {
			opacity: 1;
			visibility: visible;
			transform: scale3d(1, 1, 1);
		}
	}

	img {
		position: relative;
		z-index: 2;
		display: inline-block;
	}
}

.product-cart-title {
	margin-top: 0;
	margin-left: 10px;
	font-family: $font-family-sec;
	font-size: 16px;
	line-height: 1.2;
	color: $gray-800;
	min-width: 130px;

	a {
		color: inherit;
		&:hover {
			color: $primary;
		}
	}
}

.product-cart-color,
.product-cart-size,
.product-cart-price {
	font-family: $font-family-sec;
	color: $gray-800;
}

.product-cart-color,
.product-cart-size {
	display: block;
	height: 40px;
	font-weight: 500;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	border-radius: $border-radius;
}

.product-cart-color {
	width: 40px;
}

.product-cart-color-red {
	background-color: $red-3;
}

.product-cart-color-dark {
	background-color: $gray-21;
}

.product-cart-size {
	width: 42px;
	font-size: 16px;
	border-radius: $border-radius;
	border: 1px solid $gray-1;
}

.product-cart-price {
	font-size: 16px;
}

.product-cart-delete {
	font-size: 24px;
	color: $red-3;
	cursor: pointer;
	transition: .3s ease-out all;

	&:hover {
		color: $primary;
	}
}

.table-product {
	border: 1px solid $gray-1;

	th,
	td {
		white-space: nowrap;
	}

	th {
		padding: 17px 11px;
		font-family: $font-family-sec;
		font-weight: 400;
		border-bottom: 1px solid $gray-1;
	}

	th:first-child {
		width: 54%;
	}

	td {
		padding: 17px 11px;
		text-align: left;
	}

	tr + tr {
		td {
			padding-top: 0;
		}
	}
}

.product-cart-footer {
	text-align: right;

	.button {
		margin-top: 0;
	}
}

.product-cart-total {
	display: inline-block;
	vertical-align: middle;
	padding: 0 35px;
	font-family: $font-family-sec;
	font-size: 18px;
	font-weight: 500;
	color: $gray-500;
	text-transform: uppercase;

	> span {
		display: inline-block;
		vertical-align: middle;
	}
}

.product-cart-total-price {
	margin-left: 30px;
	font-size: 48px;
	font-weight: 300;
	color: $gray-800;
	text-transform: none;

	.sup {
		font-size: 18px;
		vertical-align: super;
	}
}

* + .product-cart-footer {
	margin-top: 20px;
}

// Large ≥992px
@include media-breakpoint-up(lg) {
	.table-product {
		th {
			padding: 27px 16px;
		}
		td {
			padding: 27px 16px;
		}
	}
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {

	.product-cart-media {
		width: 128px;
		height: 118px;
		padding: 0;
		line-height: 118px;
	}

	.product-cart-title {
		margin-left: 20px;
		font-size: 18px;
	}

	.product-cart-color,
	.product-cart-size {
		height: 38px;
		line-height: 38px;
	}

	.product-cart-color {
		width: 38px;
	}
	.product-cart-size {
		width: 52px;
	}
	.product-cart-price {
		font-size: 18px;
	}

	.table-product {
		th {
			padding: 27px 32px;
		}
		td {
			padding: 27px 32px;
		}
	}

	* + .product-cart-footer {
		margin-top: 30px;
	}
}

// CheckBox Inline
.radio-panel {
	.radio-inline {
		+ .radio-panel-content {
			height: 0;
			max-height: 0;
			opacity: 0;
		}
		&.active + .radio-panel-content {
			opacity: 1;
			height: 100%;
			max-height: 100%;
			transition: .3s ease-out opacity;
		}
	}
}

* + .radio-panel-content {
	margin-top: 8px;
}

