/*
*
* Boxes
*/

//
// Table of Contents:
//
// Box Minimal
// Box Counter (unused)
//


//
// Box minimal
//
.box-minimal {
  max-width: 270px;
  padding: 20px 10px 30px 30px;
  background: $white;
  border: 1px solid $gray-1;
  text-align: left;
  
  p {
    letter-spacing: .025em;
  }
}

.box-minimal-primary {
  color: rgba($white, .5);
  background: $primary;

  .box-minimal-icon,
  .box-minimal-title {
    color: $white;
  }
}

.box-minimal-gray-2 {
  color: rgba($white, .5);
  background: $gray-2;
  
  .box-minimal-title {
    color: $white;
  }

  .box-minimal-icon {
    color: $secondary;
  }
}

.box-minimal-header {
  display: table;
  margin-left: -10px;
  
  > * {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
  }
}

.box-minimal-icon {
  font-size: 37px;
  color: $headings-color;
}

* + .box-minimal-text { margin-top: 5px; }


// Context styling
%context-dark {

}

//
// Box Counter
//
.box-counter {
  position: relative;
  text-align: center;
  color: $gray-700;
}

.box-counter-title {
  display: inline-block;
  font-family: $font-family-sec;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -.025em;
}

.box-counter-main {
  font-family: $font-family-sec;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.2;

  > * {
    display: inline;
    font: inherit;
  }

  .small {
    font-size: 28px;
  }

  .small_top {
    position: relative;
    top: .2em;
    vertical-align: top;
  }
}

.box-counter-divider {
  font-size: 0;
  line-height: 0;
  &::after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 2px;
    background: $primary;
  }
}

* + .box-counter-title { margin-top: 10px; }
* + .box-counter-main { margin-top: 20px; }
* + .box-counter-divider { margin-top: 10px; }

@include media-breakpoint-up(md) {
  .box-counter-title {
    font-size: 18px;
  }
}

@include media-breakpoint-up(xl) {
  .box-counter-main {
    font-size: 60px;

    .small {
      font-size: 36px;
    }
  }

  * + .box-counter-main { margin-top: 30px; }
  * + .box-counter-divider { margin-top: 15px; }
  * + .box-counter-title { margin-top: 18px; }
}

// Context styling
.bg-primary {
  .box-counter {
    color: $white-invariable;
  }

  .box-counter-divider {
    &::after {
      background: $white-invariable;
    }
  }
}