//
// Contexts
//


@mixin context-dark {
  &,
  #{headings()} {
    color: $white;
  }

  hr {
    border-color: rgba(255, 255, 255, 0.14);
  }

  .big {
    color: $white;
  }
}

@mixin context-light {
  color: $body-color;

  #{headings()}{
    color: $headings-color;
  }

  // Forms
  .form-label,
  .form-input {
    color: $form-input-color;
  }

  .form-input {
    background-color: $form-input-background;

    @if ($form-input-border) {
      border-color: $form-input-border-color;
    }
  }

  .stepper input {
    color: $gray-800;
  }

  .post-classic-title {
    color: $gray-800;
  }
}



