/*
*
* Blocks
*/

%block-center {
  margin-left: auto;
  margin-right: auto;
}

// The block element can be centered horizontally
//
.block-center {
  @extend %block-center;
}

// Limits block width and block element can be centered horizontally
//
.block-sm {
  @extend %block-center;
  max-width: 560px;
}

.block-lg {
  @extend %block-center;
  max-width: 768px;
}

.block-palette {
  display: flex;
  flex-wrap: wrap;
}

.block-palette-item {
  flex-basis: 40px;
  height: 40px;
}

.block-palette-item-dark { background-color: $gray-800; }

.block-palette-item-darken { background-color: $gray-4; }

.block-palette-item-gray { background-color: $gray-500;  }

.block-palette-item-darker { background-color: $gray-2; }

.block-palette-item-secondary { background-color: $secondary; }

.block-palette-item-secondary-dark { background-color: $secondary-dark; }

.block-palette-item-primary-dark { background-color: $primary-dark; }

.block-palette-item-primary-light { background-color: $primary-light; }

// Medium ≥768px
@include media-breakpoint-up(md) {
  .block-palette-item {
    flex-basis: 95px;
    height: 95px;
  }
}

// Block Categories
.block-categories{
  padding: 32px 22px;
  background: $white;
  border: 1px solid $gray-1;
}

// Block Aside
.block-aside{
  margin-bottom: -30px;
  > *{
    margin-bottom: 30px;
  }
}

// media  ≥768px && <992
@include media-breakpoint-between(md, md) {
  .block-aside{
    max-width: inherit;
    columns: 2;
    break-inside: avoid;
    column-gap: 30px;
  }
  .block-aside-item{
    display: inline-block;
    width: 100%;
  }
}

//
// Main
//
* + .main-component { margin-top: 50px; }

//
// Aside
//
.aside-components {
  margin-bottom: -50px; 
  > * {
    margin-bottom: 50px; 
  }
}

// media  ≥768px && <992
@include media-breakpoint-between(md, md) {
  .aside-components{
    max-width: inherit;
    columns: 2;
    break-inside: avoid;
    column-gap: 30px;
  }
  .aside-component {
    display: inline-block;
    width: 100%;
  }
}