/*
*
* Breadcrumbs
* --------------------------------------------------
*/
$breadcrumb-padding-vertical: 8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg: #081021;
$breadcrumb-color: $secondary-dark;
$breadcrumb-active-color: $white-invariable;
$breadcrumb-separator: "\f238";

.breadcrumbs-wrap {
  background-color: $breadcrumb-bg;
}

.breadcrumbs-custom {
  position: relative;
  padding: 35px 0 40px;
  text-align: center;
}

.breadcrumbs-custom-path {
  @include spacingX(22px);
  line-height: 1;
  text-transform: uppercase;
  a {
    display: inline;
    vertical-align: middle;
    font: inherit;
    &, &:active, &:focus {
      color: $breadcrumb-color;
    }
  }

  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: $font-family-sec;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;

    &::after {
      content: $breadcrumb-separator;
      font-family: $mdi;
      position: absolute;
      top: 52%;
      right: -11px;
      display: inline-block;
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      color: var(--color-typo-primary);
      transform: translateY(-50%);
    }
  }

  li:last-child {
    &:after { display: none; }
  }

  a:hover,
  li.active {
    color: $breadcrumb-active-color;
  }

  li.active {
    top: 1px;
  }
}

@-moz-document url-prefix() {
  .breadcrumbs-custom-path {
    li.active {
      top: 0;
    }
  }
}

* + .breadcrumbs-custom-path { margin-top: 6px; }


// Medium ≥768px
@include media-breakpoint-up(md) {
  .breadcrumbs-custom {
    padding: 70px 0 80px;
  }
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
  .breadcrumbs-custom {
    padding: 110px 0 100px;
  }
}
