/*
*
* Footers
*/
//
// Table of Contents
//
// Footer Classic
// Footer Modern
// Footer Creative
//



//
// Footer Classic
//
@mixin footer-classic-small-resize {
  .post-classic-figure {
    max-width: 80px;
  }

  .post-classic-title {
    font-size: 13px;
  }

  .list-inline-bordered-lg {
    @include spacingX(20px);
    li:not(:last-child) {
      &::after {
        display: none;
      }
    }
  }

  .svg-sizing-35 {
    &,
    * {
      width: 26px;
      height: 26px;
    }
  }

  .unit {
    @include groupX(10px);
    font-size: 13px;
  }
}


.footer-classic {
  @include media-breakpoint-down(sm) {
    @include footer-classic-small-resize;
  }

  @include media-breakpoint-between(lg, xl) {
    @include footer-classic-small-resize;
  }
}

.footer-classic-dark {
  background: $footer-classic-dark;
}

.footer-classic-darken {
  background: $footer-classic-darker;
}

.footer-classic-brand{
  background: var(--background-color-gradient);
}

.footer-classic-main {
  padding: 40px 0;
}

.footer-classic-aside {
  padding: 20px 0;
}

.footer-classic-info {
  p {
    max-width: 270px;
    text-align: left;
  }
}

// Large ≥992px
@include media-breakpoint-up(lg) {

  .footer-classic-main {
    padding: 60px 0 50px;
  }

  .footer-classic-info {
    position: relative;
    top: -10px;
  }
}


//
// Footer Modern
//
@mixin footer-classic-small-resize {
  .post-classic-figure {
    max-width: 80px;
  }

  .post-classic-title {
    font-size: 12px;
  }

  .list-inline-bordered-lg {
    @include spacingX(20px);
    li:not(:last-child) {
      &::after {
        display: none;
      }
    }
  }

  .unit-bordered {
    @include spacingX(20px);
    > *:not(:last-child) {
      &::after {
        display: none;
      }
    }
  }

  .svg-sizing-35 {
    &,
    * {
      width: 28px;
      height: 28px;
    }
  }

  .icon-image {
    max-width: 28px;
  }

  .unit {
    @include groupX(14px);
    font-size: 13px;
  }
}

.footer-modern {
  color: $blue-bayoux;

  hr {
    border-color: $river-bed;
  }

  * + hr,
  hr + * {
    margin-top: 40px;
  }

  h5 + * {
    margin-top: 15px;
  }

  .rights {
    color: $footer-classic-lighter;
  }

  a:hover {
    color: $secondary;
  }

  .unit {
    .heading-6 {
      color: $blue-bayoux;
    }
  }

  .rd-form {
    .form-label,
    .form-input {
      color: $white;
    }

    .form-input {
      background: $footer-classic-dark;
      border-color: $footer-classic-dark;
    }
  }

  .nav-minimal-list {
    color: $footer-classic-lighter;

    li.active,
    a:hover {
      color: $secondary;
    }
  }

  .post-classic-time {
    color: $blue-bayoux;
  }

  .icon-corporate:not(:hover) {
    background: $blue-bayoux;
  }

  @include media-breakpoint-down(xs) {
    .post-classic {
      max-width: 300px;
    }

    .post-classic-title {
      font-size: 14px;
    }

    .list-inline-bordered-lg {
      @include spacingX(20px);
      li:not(:last-child) {
        &::after {
          display: none;
        }
      }
    }

    .unit-bordered {
      @include spacingX(20px);
      > *:not(:last-child) {
        &::after {
          display: none;
        }
      }
    }

    .svg-sizing-35 {
      &,
      * {
        width: 28px;
        height: 28px;
      }
    }

    .icon-image {
      max-width: 28px;
    }

    .unit {
      @include groupX(14px);
      font-size: 13px;
    }
  }

  @include media-breakpoint-between(sm, sm) {
    .unit {
      @include groupX(18px);
      font-size: 14px;
    }
  }

  @include media-breakpoint-between(md, md) {
    .post-classic-title {
      font-size: 12px;
    }
  }

  @include media-breakpoint-between(lg, lg) {
    @include footer-classic-small-resize;
  }

  // Extra large ≥1200px
  @include media-breakpoint-up(xl) {
    .gallery {
      max-width: 330px;
    }

    h5 + * {
      margin-top: 33px;
    }

    * + hr {
      margin-top: 60px;
    }

    hr + * {
      margin-top: 40px;
    }
  }
}

.footer-modern-main {
  padding: 40px 0;
  background: $footer-classic-darker;
}

.footer-modern-aside {
  background: $footer-classic-light;

  [class^='col'] {
    display: flex;
  }
}

.footer-modern-left,
.footer-modern-right {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.footer-modern-left {
  position: relative;
  color: $footer-classic-lighter;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 101vw;
    background: $footer-classic-dark;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  // Large ≥992px
  @include media-breakpoint-between(lg, lg) {
    &::before {
      display: none;
    }
  }

  // Extra large ≥1200px
  @include media-breakpoint-up(xl) {
    &::before {
      right: 15px;
      left: auto;
      background: $footer-classic-dark;
      transform: skewX(17.5deg);
      transform-origin: 100% 100%;
    }
  }
}

.footer-modern-right {
  text-align: center;
}

@include media-breakpoint-up(md) {
  .footer-modern-left,
  .footer-modern-right {
    padding: 30px 0;
  }
}

@include media-breakpoint-up(lg) {
  .footer-modern-main {
    padding: 60px 0 40px;
  }

  .footer-modern-left,
  .footer-modern-right {
    padding: 50px 0;
  }
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
  .footer-modern-left,
  .footer-modern-right {
    flex-direction: column;
  }

  .footer-modern-right {
    align-items: center;
  }

  .footer-modern-left {
    align-items: flex-start;
    > * { width: 100%; }
  }
}


//
// Footer Creative
//
@mixin footer-creative-small-resize {
  .post-classic-figure {
    max-width: 80px;
  }

  .post-classic-title {
    font-size: 13px;
  }

  .list-inline-bordered-lg {
    @include spacingX(20px);
    li:not(:last-child) {
      &::after {
        display: none;
      }
    }
  }

  .svg-sizing-35 {
    &,
    * {
      width: 26px;
      height: 26px;
    }
  }

  .unit {
    @include groupX(10px);
    font-size: 13px;
  }
}

footer.footer-creative {
  color: var(--color-typo-primary);
}

.footer-creative {
  .unit {
    h6,
    .heading-6 {
      color: var(--color-typo-primary);
    }
  }

  .rd-inline-form-creative {
    .form-label,
    .form-input {
      color: var(--color-typo-primary);
    }
  }

  .nav-minimal-list {
    color: var(--color-typo-primary);

    li.active,
    a:hover {
      color: $secondary;
    }
  }

  .post-classic-time {
    color: var(--color-typo-primary);
  }

  .icon-corporate:not(:hover) {
    background: $outer-space;
  }

  .link {
    color: var(--color-typo-primary);

    &:hover {
      color: var(--color-bg-default);
    }
  }

  * + hr { margin-top: 0; }
  * + .group-md { margin-top: 30px; }

  @include media-breakpoint-down(sm) {
    @include footer-creative-small-resize;
  }

  @include media-breakpoint-between(lg, xl) {
    @include footer-creative-small-resize;
  }

  @include media-breakpoint-between(md, md) {
    .brand-md img {
      max-width: 90px;
    }

    * + .group-md { margin-top: 20px; }
  }

  // Large ≥992px
  @include media-breakpoint-between(lg, lg) {
    h5 {
      font-size: 14px;
    }
  }
}

.footer-creative-dark {
  background: $footer-classic-dark;
}

.footer-creative-darken {
  background: var(--background-color-primary)
}

.footer-creative-main-top,
.footer-creative-main-bottom {
  padding: 40px 0;
}

.footer-creative-aside {
  padding: 20px 0;
}

.footer-creative-info {
  @include group(20px, 10px);
  p {
    max-width: 270px;
  }
}

// Large ≥992px
@include media-breakpoint-up(lg) {
  .footer-creative-main-top {
    padding: 55px 0 45px;
  }

  .footer-creative-main-bottom {
    padding: 60px 0 45px;
  }
}
