/*
*
* Modal Custom
*/

//
// Modal Video
//
.modal-video{
  .modal-dialog{
    top: 50%;
    max-width: 300px;
    margin: 10px auto;
    transform: translateY(-50%);
  }
  .modal-content{
    border: none;
    background: transparent;
  }
  .modal-body{
    padding: 0;
  }
  .modal-header{
    border: none;
  }
  .close{
    color: var(--color-typo-primary);
    opacity: 1;
    text-shadow: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: var(--color-bg-default);
    }
  }

  &.show{
    .modal-dialog{
      transform: translate(0, -50%);
    }
  }
}

// media  ≥576px
@include media-breakpoint-up(sm){
  .modal-video{
    .modal-dialog{
      max-width: 450px;
    }
  }
}
// media  ≥992px
@include media-breakpoint-up(lg){
  .modal-video{
    .modal-dialog{
      max-width: 600px;
    }
  }
}
