/*
*
* Posts
*/

//
// Table of Contents:
//
// Post Inline
// Post Classic
// Post Minimal
// Post Modern
// Post Corporate
// Post Future
// Post Future Horizontal
// Post Creative
// Post Creative Compact
// Post Miranda
// Post Carmen
// Post Gloria
// Post Chelsea
// Post Veronica
// Post Alice
// Post Ruby
// Blog Post
// Post Lily
// Post Light
// Post Elizabeth

// post video button
.post-video-button {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: var(--background-color-default);
	color: $gray-800;
	.icon {
		position: absolute;
		top: 54%;
		left: 50%;
		font-size: 24px;
		line-height: 24px;
		transform: translate(-50%, -50%);
	}

	&:hover {
		color: var(--color-bg-default);
	}
}

// Post meta
@mixin postMeta($iconColor) {
	font-family: $font-family-sec;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $gray-500;

	.icon {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
		color: $iconColor;
		&.fl-justicons-visible6 {
			font-size: 13px;
		}
	}
}

//
// Post Inline
//
.post-inline {
	font-family: $font-family-sec;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: .05em;
	text-transform: uppercase;

	> * {
		display: inline-block;
		margin-top: 0;
	}
}

.post-inline-time {
	color: var(--color-bg-default);
}

.post-inline-title {
	color: $headings-color;

	&:not(:empty) {
		&::before {
			display: inline-block;
			padding: 0 6px 0 5px;
			content: '\005C\005C';
			color: $gray-500;
		}
	}
}

// Context styling
%context-dark {
	.post-inline-time {
		color: $secondary;
	}

	.post-inline-title {
		color: $white;
	}
}

//
// Post Classic
//
.post-classic {
	display: flex;
	align-items: center;
	width: 100%;
	font-family: $font-family-sec;
	font-weight: 600;
	text-transform: uppercase;
}

.wrap-posts-classic {
	.post-classic {
		padding: 15px 0;

		&:first-child { padding-top: 0; }
		&:last-child { padding-bottom: 0; }
	}

	.post-classic + .post-classic {
		margin-top: 0;
		border-top: 1px solid $abbey;
	}
}

.post-classic-figure {
	display: block;
	overflow: hidden;

	img {
		max-width: inherit;
		transition: all .3s;
	}
	&:hover {
		img {
			transform: scale(1.03);
		}
	}
}

.post-classic-title {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: $gray-800;

	a {
		color: var(--color-typo-primary);
		&:hover {
			color: $yellow;
		}
	}
}

.post-classic-time {
	font-size: 12px;
	letter-spacing: 0.05em;
	color: $gray-400;

	.icon {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
}

* + .post-classic-title {
	margin-top: 5px;
}

.post-classic-title + * {
	margin-top: 10px;
}

.post-classic-time + * {
	margin-top: 8px;
}

.post-classic-aside + .post-classic-main {
	margin-left: 14px;
}

.post-classic + .post-classic {
	margin-top: 13px;
}

.bg-gray-100 {
	.post-classic {
		padding: 8px;
		background: var(--background-color-default);
		border: 1px solid  var(--background-color-default);
	}
	.post-classic-time {
		color: $gray-500;
	}
}

.tabs-modern_1 {
	.post-classic {
		padding: 8px; 
		background: var(--background-color-default);
		border: 1px solid var(--background-color-border);
	}
	.post-classic-time {
		color: $gray-500;
	}
}

.list-post-classic {
	.post-classic {
		padding: 20px;
	}
	.post-classic + .post-classic {
		margin-top: 0;
		border-top: none;
	}
}

// context dark
%context-dark {
	.post-classic-title {
		color: $white;
	}
}

// media  ≥768px
@include media-breakpoint-up(md) {
	.post-chelsea-main {
		padding: 0 30px;
		flex-basis: 60%;
	}
}

//
// Post Minimal
//
.post-minimal {
	padding: 25px 35px 20px 25px;
	font-family: $font-family-sec;
	text-transform: uppercase;
	background: var(--background-color-primary);
	border: 1px solid var(--background-color-border);
	transition: all .3s;

	&:hover {
		background: $gray-7;
	}
}

.list-post-minimal {
	.post-minimal + .post-minimal {
		border-top: none;
	}
}

//
// Post Modern
//
.post-modern {
	display: flex;
	font-family: $font-family-sec;
	font-weight: 600;
	text-transform: uppercase;
	background: var(--background-color-default);
	border: 1px solid var(--background-color-border);
	transition: all .3s;
}

.post-modern-aside {
	min-width: 100px;
	padding: 20px 10px;
	color: $gray-9;
	text-align: center;
	border-right: 1px solid $gray-1;
}

.post-modern-date {
	font-size: 44px;
	font-weight: 500;
	line-height: 1;
}

* + .post-modern-month {
	margin-top: 2px;
}

.post-modern-month {
	font-weight: 600;
	letter-spacing: 0.05em;
}

.post-modern-main {
	padding: 15px 20px;
}

.list-post-modern {
	.post-modern + .post-modern {
		border-top: none;
	}
}

//
// Post Corporate
//
.post-corporate {
	background: var(--background-color-primary);
	border: 1px solid var(--background-color-border);
	transition: all .3s;
	&:hover {
		box-shadow: 0 7px 18px rgba($black, 0.13);
	}
}

.post-corporate-content {
	padding: 30px 20px;
}

.post-corporate-header {
	@include group(15px);
}

.post-corporate-time,
.post-corporate-view,
.post-corporate-comment,
.post-corporate-share {
	font-family: $font-family-sec;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.post-corporate-view {
	.icon {
		margin-right: 5px;
		font-size: 13px;
	}
}

.post-corporate-title {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.post-corporate-text {
	letter-spacing: 0.05em;
}

.post-corporate-figure {
	display: block;
	overflow: hidden;
	img {
		transform: scale(1);
		transition: all .5s;
		&:hover {
			transform: scale(1.03);
		}
	}
}

.post-corporate-footer {
	padding: 30px 20px;
}

.post-corporate-comment {
	a {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
	.icon {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
}

.post-corporate-share {
	.icon {
		font-size: 15px;
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
}

.post-corporate + * {
	margin-top: 30px;
}

.post-corporate-header + *, .post-corporate-title + * {
	margin-top: 15px;
}

.post-corporate-comment + * {
	margin-top: 10px;
}

// media  ≥576px
@include media-breakpoint-up(sm) {
	.post-corporate-content, .post-corporate-footer {
		padding: 30px 35px;
	}

	.post-corporate-footer {
		display: flex;
		justify-content: space-between;
	}
	.post-corporate-comment + * {
		margin-top: 0;
	}

}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-corporate-title {
		font-size: 24px;
	}
}

//
// Post Future
//
.post-future {
	border: 1px solid var(--background-color-border);

	hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border-color: $gray-1;
	}

	.button-gray-outline {
		padding: 14px 19px;
		font-weight: 600;
		line-height: 17px;
		border: 1px solid var(--background-color-border);

		&:hover {
			background: var(--background-color-primary);
			border-color: var(--background-color-border);
		}
	}
}

.post-future-figure {
	display: block;
	overflow: hidden;
	img {
		max-width: inherit;
		width: 100%;
		transform: scale(1);
		transition: all .5s;
		&:hover {
			transform: scale(1.03);
		}
	}
}

.post-future-title {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.025em;
}

.post-future-time {
	@include postMeta($gray-500);
}

.post-future-main {
	padding: 20px 25px 35px;
	background: var(--background-color-default);
}

.post-future-meta {
	@include group(15px, 7px);
}

.post-future-share {
	position: relative;
	width: 55px;
	font-size: 0;
	line-height: initial;

	.inline-toggle-parent {
		position: absolute;
		right: 0;
		width: 186px;
		height: 47px;
		overflow: hidden;
		border-left: 1px solid $gray-1;
		border-radius: 3px;

		.inline-toggle {
			position: absolute;
			top: 0;
			right: 1px;
			padding: 14px 19px;
			background: var(--background-color-default);
			border: 1px solid var(--background-color-border);
			border-radius: 3px;
			margin-top: 0;
			opacity: 1;
			transition: all .4s;
			z-index: 1;
		}
		.inline-toggle-element {
			position: absolute;
			top: 0;
			left: -1px;
			right: 0;
			display: block;
			padding: 14px 19px;
			background: var(--background-color-default);
			border: 1px solid $gray-1;
			border-radius: 3px;
			transform: translateX(-100%);
			transition: all .4s;
			z-index: 1;
		}
		&.active {
			.inline-toggle {
				display: block;
			}
			.inline-toggle-element {
				transform: translateX(0);
			}
		}

		.icon {
			font-size: 14px;
			color: $gray-800;
		}

		.list-inline {
			li {
				line-height: 17px;
			}
		}
	}
}

.post-future + * {
	margin-top: 30px;
}

.post-future-title + * {
	margin-top: 10px;
}

.post-future-meta + * {
	margin-top: 20px;
}

.post-future-text + * {
	margin-top: 15px;
}

// media  ≥768px
@include media-breakpoint-up(md) {
	.post-future {
		max-width: 370px;
	}
	.post-future-horizontal {
		display: flex;
		max-width: 770px;
		.post-future-figure {
			img {
				max-width: inherit;
				width: inherit;
			}
		}
		.post-future-main {
			flex-basis: 60%;
		}
	}
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-future-title {
		font-size: 24px;
	}
	.post-future-share {

		.inline-toggle-parent {
			left: 0;
			right: auto;
			width: 170px;
			.inline-toggle {
				left: -1px;
				right: auto;
			}
		}
	}
	.post-future-horizontal {
		.post-future-figure {
			img {
				width: 100%;
			}
		}
	}
}

// media  ≥1600px
@include media-breakpoint-up(xxl) {
	.post-future-horizontal {
		.post-future-main {
			flex-basis: calc(100% - 370px);
			padding: 40px 30px;
		}
	}

}

//
// Post Creative
//
.post-creative {
	background: var(--background-color-default);
	transition: all .3s;
}

.post-creative-content {
	padding: 30px 20px;
	border: 1px solid $gray-1;
	border-bottom: none;
}

.post-creative-header {
	@include group(15px);
}

.post-creative-time, .post-creative-view,
.post-creative-comment, .post-creative-share {
	@include postMeta($gray-500);
}

.post-creative-title {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.025em;
}

.post-creative-figure {
	display: block;
	overflow: hidden;

	img {
		max-width: inherit;
		width: 100%;
		transform: scale(1);
		transition: all .5s;
		will-change: transform;
		&:hover {
			transform: scale(1.03);
		}
	}
}

.post-creative-footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 30px 20px;
	border: 1px solid $gray-1;
	border-top: none;
}

.post-creative-comment {
	a {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
	.icon {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
}

.post-creative-share {

	.inline-toggle-parent {
		position: absolute;
		right: 20px;
		background: var(--background-color-default);
		transition: all .4s;

		&.active {
			.inline-toggle {
				display: block;
			}
			.inline-toggle-element {
				opacity: 1;
			}
		}

		.inline-toggle-element {
			position: absolute;
			right: -7px;
			bottom: 25px;
			padding: 10px;
			text-align: center;
			background: var(--background-color-default);
			border-radius: 3px 3px 0 0;
			transition: all .2s;
			opacity: 0;
			box-shadow: 0px -5px 7px -1px rgba(0, 0, 0, 0.2);
			.icon {
				margin-right: 0;
				font-size: 15px;
				color: $gray-500;
				&:hover {
					color: var(--color-bg-default);
				}
			}
		}
	}
}

.post-creative-share-text {
	display: inline-block;
	margin-right: 8px;
}

.post-creative + * {
	margin-top: 30px;
}

.post-creative-header + *,
.post-creative-title + * {
	margin-top: 15px;
}

// media  ≥576px
@include media-breakpoint-up(sm) {
	.post-creative-content, .post-creative-footer {
		padding: 25px 30px;
	}
	.post-creative-footer {
		.inline-toggle-parent {
			right: 30px;
		}
	}
}

@include media-breakpoint-up(md) {
	.post-creative {
		max-width: 370px;
	}
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-creative-title {
		font-size: 24px;
	}
}

//
// Post Creative Compact
//
.post-creative-compact {
	.post-creative-figure {
		display: none;
	}
	.post-creative-footer {
		border-top: 1px solid $gray-1;
	}
}

//
// Post Miranda
//
.post-miranda {
	background: var(--background-color-default);
	border: 1px solid $gray-1;
	transition: all .3s;
	&:hover {
		box-shadow: 0 7px 18px rgba($black, 0.13);
	}
}

.post-miranda-content {
	padding: 30px 20px;
}

.post-miranda-header {
	@include group(15px);
}

.post-miranda-time, .post-miranda-view,
.post-miranda-comment, .post-miranda-share {
	@include postMeta($gray-500);
}

.post-miranda-title {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.post-miranda-text {
	letter-spacing: 0.05em;
}

.post-miranda-figure {
	display: inline-block;
	overflow: hidden;
	img {
		transform: scale(1);
		transition: all .5s;
		&:hover {
			transform: scale(1.03);
		}
	}
}

.post-miranda-footer {
	padding: 30px 20px;
	border-top: 1px solid $gray-1;
}

.post-miranda-comment {
	a {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
	.icon {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
}

.post-miranda-share {
	.icon {
		font-size: 15px;
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
}

.post-miranda + * {
	margin-top: 30px;
}

.post-miranda-header + *, .post-miranda-title + * {
	margin-top: 15px;
}

.post-miranda-comment + * {
	margin-top: 10px;
}

* + .post-miranda-aside {
	margin-top: 20px;
}

// media  ≥576px
@include media-breakpoint-up(sm) {
	.post-miranda-content, .post-miranda-footer {
		padding: 30px 35px;
	}

	.post-miranda-footer {
		display: flex;
		justify-content: space-between;
	}
	.post-miranda-comment + * {
		margin-top: 0;
	}
}

// media  ≥768px
@include media-breakpoint-up(md) {
	.post-miranda-content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.post-miranda-main {
		flex-basis: calc(100% - 227px);
	}
	* + .post-miranda-aside {
		margin-top: 10px;
	}
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-miranda-title {
		font-size: 24px;
	}
}

// media  ≥1600px
@include media-breakpoint-up(xxl) {
	.post-miranda-main {
		flex-basis: calc(100% - 247px);
	}
}

//
// Post Carmen
//
.post-carmen {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 25px;
	height: 343px;
	overflow: hidden;
	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		background-image: linear-gradient(0deg, rgb(21, 22, 27) 0%, rgba(77, 88, 143, 0) 100%);
		height: 410px;
		pointer-events: none;
		z-index: 1;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		max-width: none;
		transition: all .3s;
	}
	&:hover {
		img {
			transform: translate(-50%, -50%) scale(1.03);
		}
	}
}

.post-carmen-title {
	font-size: 22px;
	font-weight: 600;
	a {
		color: $white;
		&:hover {
			color: var(--color-bg-default);
		}
	}
}

.post-carmen-header {
	flex: 1;
}

.post-carmen-main, .post-carmen-header {
	position: relative;
	z-index: 1;
}

.post-carmen-comment {
	a {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
}

.post-carmen-meta {
	@include group(15px, 7px);
	@include postMeta($primary);
}

.post-carmen + * {
	margin-top: 30px;
}

* + .post-carmen-meta {
	margin-top: 15px;
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-carmen-title {
		font-size: 24px;
	}
}

//
// Post Gloria
//
.post-gloria {
	position: relative;
	display: flex;
	align-items: center;
	padding: 25px;
	height: 440px;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 85%);
		pointer-events: none;
		z-index: 1;
	}
	img {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%) scale(1);
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		max-width: none;
		transition: all .3s;
	}
	&:hover {
		img {
			transform: translate(50%, -50%) scale(1.03);
		}
	}
	.button {
		@include btn-variant($white, transparent, $white, $white, $primary, $primary);
	}
}

.post-gloria-main {
	position: relative;
	max-width: 390px;
	z-index: 2;
}

.post-gloria-title {
	font-weight: 600;
	color: $white;
}

.post-gloria-meta {
	@include group(15px, 7px);
	@include postMeta($gray-500);
}

.post-gloria-time {
	font-weight: 600;
	color: rgba($white, .6);
}

.post-gloria-text {
	position: relative;
	padding-left: 40px;
	color: $white;
	svg {
		position: absolute;
		top: 5px;
		left: -3px;
		width: 27px;
		height: 17px;

		path {
			fill: $gray-9;
		}
	}
}

* + .post-gloria-meta {
	margin-top: 10px;
}

* + .post-gloria-text {
	margin-top: 16px;
}

.post-gloria + * {
	margin-top: 30px;
}

* + .post-gloria-title {
	margin-top: 16px;
}

.post-gloria.post-gloria-1 {
	justify-content: flex-end;
	
	.post-gloria-title {
		font-weight: 400;
	}
	
	.post-gloria-time {
		color: $gray-500;
	}

	&::before {
		background: linear-gradient(to left, rgba($white, 0.65) 0%, rgba($white, 0) 85%);
	}

	.button {
		box-shadow: 0 7px 13px 0 rgba($black, 0.22);
		@include btn-variant($gray-800, $secondary, $secondary, $white, $primary, $primary);
	}
	
	@include media-breakpoint-up(lg) {
		.post-gloria-main {
			max-width: 260px;
		} 
	} 
}

// media  ≥1200px 
@include media-breakpoint-up(xl) {
	.post-gloria {
		padding: 40px;
		&::before {
			display: none;
		}
	}
}

//
// Post Chelsea
//
.post-chelsea {
	max-width: 370px;
}

.post-chelsea-figure {
	display: block;
	overflow: hidden;
	img {
		transform: scale(1);
		transition: all .5s;
		will-change: transform;
		&:hover {
			transform: scale(1.03);
		}
	}
}

.post-chelsea-title {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.post-chelsea-main {
	padding: 20px 0 35px;
}

.post-chelsea-comment {
	a {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}

	}
}

.post-chelsea-meta {
	@include group(15px, 7px);
	@include postMeta($gray-500);
}

.post-chelsea + * {
	margin-top: 30px;
}

* + .post-chelsea-title {
	margin-top: 15px;
}

.post-chelsea-title + * {
	margin-top: 10px;
}

.post-chelsea-meta + * {
	margin-top: 20px;
}

.post-chelsea-text + * {
	margin-top: 15px;
}

// media  ≥768px
@include media-breakpoint-up(md) {
	.post-chelsea {
		display: flex;
		align-items: flex-start;
		max-width: 770px;
		.post-chelsea-figure {
			img {
				max-width: inherit;
			}
		}
	}
	.post-chelsea-main {
		padding: 0 30px;
		flex-basis: 60%;
	}
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-chelsea-title {
		font-size: 24px;
	}
	.post-chelsea-main {
		padding: 30px;
	}
}

//
// Post Veronica
//
.post-veronica {
	max-width: 370px;
	border-bottom: 1px solid $gray-200;
}

.post-veronica-figure {
	position: relative;
	display: block;
	overflow: hidden;
	.badge {
		position: absolute;
		top: 20px;
		left: 15px;
	}

	img {
		transform: scale(1);
		transition: all .5s;
		&:hover {
			transform: scale(1.03);
		}
	}
}

.post-veronica-main {
	padding: 20px 0;
}

.post-veronica-title {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.05em;
}

.post-veronica-meta {
	@include group(15px, 7px);
	@include postMeta($gray-500);
}

.post-veronica-comment {
	a {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
}

* + .post-veronica-text,
* + .post-veronica-meta {
	margin-top: 15px;
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-veronica-title {
		font-size: 24px;
	}
}

//
// Post Alice
//
.post-alice {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 300px;
	padding: 35px 35px 50px;
	text-align: center;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		background-image: linear-gradient(to top, rgb(21, 22, 27) 0%, rgba(77, 88, 143, 0) 100%);
		pointer-events: none;
		z-index: 1;
	}
	img {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%) scale(1);
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		max-width: none;
		transition: all .3s;

		@supports (object-fit: cover) {
			right: 0;
			top: 0;
			transform: none;
			object-fit: cover;
			object-position: center center;
		}
	}
	.divider {
		&::after {
			width: 50px;
			height: 3px;
		}
	}
	* + .divider {
		margin-top: 20px;
	}
}

.post-slider {
	.swiper-slide {
		align-items: stretch;
	}
	
	.post-alice {
		width: 100%;
		white-space: normal;
	}
}

.post-alice-main {
	position: relative;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

.post-alice-title {
	font-weight: 600;
	color: $white;
	will-change: transform;
}

.post-alice-time {
	display: inline-block;
	font-family: $font-family-sec;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: rgba($white, .6);
	text-transform: uppercase;
	.icon {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
}

* + .post-alice-title {
	margin-top: 10px;
}

* + .post-alice-time {
	margin-top: 20px;
}

// media  ≥768px
@include media-breakpoint-up(md) {
	.post-alice {
		height: 400px;
	}
}

//
// Post Ruby
//
.post-ruby {
	padding-bottom: 20px;
	border-bottom: 1px solid $gray-200;
}

.post-ruby-meta {
	@include group(15px, 7px);
	font-family: $font-family-sec;
	font-size: 12px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	.icon {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
}

.post-ruby-title {
	position: relative;
	padding-left: 55px;
	font-size: 18px;
	font-weight: 400;
	&::before {
		position: absolute;
		top: 0;
		left: -3px;
		font-family: $font-family-sec;
		font-size: 122px;
		letter-spacing: 0.127em;
		line-height: 85px;
		color: $gray-9;
		content: '“';
	}
}

.post-ruby-view {
	.icon {
		font-size: 13px;
	}
}

.post-ruby-comment {
	a {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
}

* + .post-ruby-meta {
	margin-top: 35px;
}

* + .post-ruby-title {
	margin-top: 20px;
}

* + .post-ruby-text {
	margin-top: 15px;
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-ruby-title {
		font-size: 24px;
	}
}

//
// Blog Post
//
.blog-post {
	padding: 30px;
	font-size: 16px;
	color: $gray-800;
	background: var(--background-color-primary);
	border: 1px solid $gray-1;
}

.blog-post-title {
	font-weight: 400;
	letter-spacing: 0.025em;
}

.blog-post-author {
	display: flex;
	align-items: center;
}

.post-author {
	margin-top: 0;
	font-family: $font-family-sec;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $gray-800;
}

.blog-post-author-quote {
	padding-left: 15px;
	border-left: 5px solid $gray-100;
}

.blog-post-meta {
	@include postMeta($primary);
	@include group(15px, 7px);
}

.blog-post-share {
	padding: 20px;
	background: $gray-100;
	p {
		font-family: $font-family-sec;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $gray-500;
	}
	.icon {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
}

.blog-post-content {
	> * + * {
		margin-top: 25px;
	}
}

* + .blog-post-header {
	margin-top: 15px;
}

* + .blog-post-title {
	margin-top: 10px;
}

* + .blog-post-meta {
	margin-top: 12px;
}

* + .post-author {
	margin-left: 6px;
}

* + .blog-post-author-quote {
	margin-top: 25px;
}

* + .blog-post-share {
	margin-top: 25px;
}

* + .blog-post-content {
	margin-top: 27px;
}

// Inline toggle
.inline-toggle-parent {
	display: flex;
	align-items: center;
	.icon {
		font-size: 16px;
		color: $gray-500;
		cursor: pointer;
	}
	.inline-toggle-element {
		display: none;
		transition: all .3s;
		.icon {
			font-size: 13px;
			&:hover {
				color: var(--color-bg-default);
			}
		}
	}
	.list-inline {
		li {
			font-family: $font-family-sec;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0;
			text-transform: uppercase;
			color: $gray-500;
			& + li {
				margin-left: 10px;
			}
		}
	}
	&.active {
		.inline-toggle-element {
			display: block;
		}
		.inline-toggle {
			display: none;
			transition: all .3s;
		}
	}
}

// media  ≥576px
@include media-breakpoint-up(sm) {
	.blog-post-header {
		display: flex;
		align-items: center;
	}
	.blog-post-author {
		margin-right: 20px;
	}
	.post-author {
		padding-right: 20px;
		border-right: 1px solid $gray-1;
	}
	.blog-post-share {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.blog-post-meta {
		margin-top: 0;
	}
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.blog-post {
		padding: 30px 40px;
	}
}

//
// Post Lily
//
.post-lily {
	position: relative;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding: 22px;
	height: 343px;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		background: rgba($ebony-clay, .5);
		height: 410px;
		pointer-events: none;
		z-index: 1;
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		max-width: none;
		transition: all .3s;
	}

	&:hover {
		img {
			transform: translate(-50%, -50%) scale(1.03);
		}
	}

	.post-video-button {
		position: absolute;
		top: 25px;
		left: 25px;
		z-index: 1;
	}
}

.post-lily-title {
	max-width: 360px;
	font-size: 20px;
	font-weight: 600;

	a {
		color: $white;

		&:hover {
			color: $secondary;
		}
	}
}

.post-lily-main {
	position: relative;
	z-index: 1;
}

.post-lily-comment {
	a {
		color: $white;

		&:hover {
			color: var(--color-bg-default);
		}
	}
}

.post-lily-meta {
	@include group(15px, 7px);
	@include postMeta($secondary);
	color: $white;
}

.post-lily + * { margin-top: 30px; }

* + .post-lily-title { margin-top: 15px; }

* + .post-lily-meta { margin-top: 15px; }

// media  ≥1200px
@include media-breakpoint-up(xxl) {
	.post-lily {
		padding: 25px;
	}

	.post-lily-title {
		font-size: 24px;
	}
}

//
// Post Light
//
.post-light {
	padding: 20px 20px;
	max-width: 300px;
	text-align: center;

	> * + * { margin-top: 15px; }
}

.post-light-title {
	width: 100%;
	font-weight: 400;
}

.post-light-time {
	display: block;
	font-family: $font-family-sec;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 500;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: var(--color-bg-default);
}

//
// Post Elizabeth
//
.post-elizabeth {
}

.post-elizabeth-meta {
	@include group(15px, 7px);
	font-family: $font-family-sec;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	.icon {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
		color: var(--color-bg-default);
	}
}

.post-elizabeth-title {
	position: relative;
}

.post-elizabeth-text {
	max-width: 500px;
}

.post-elizabeth-view {
	.icon {
		font-size: 13px;
	}
}

.post-elizabeth-comment {
	a {
		color: $gray-500;
		&:hover {
			color: var(--color-bg-default);
		}
	}
}

* + .post-elizabeth-meta { margin-top: 20px; }

* + .post-elizabeth-title { margin-top: 15px; }

* + .post-elizabeth-text { margin-top: 15px; }

%context-dark {
	.post-elizabeth-text {
		color: $white;
	}

	.post-elizabeth-meta {
		color: rgba($white, .6)
	}

	.post-elizabeth-comment {
		a {
			color: rgba($white, .6);
			
			&:hover {
				color: var(--color-bg-default);
			}
		}
	}
}

// Medium ≥768px
@include media-breakpoint-up(md) {
	* + .post-elizabeth-title { margin-top: 20px; }
	* + .post-elizabeth-meta { margin-top: 35px; }
}

// media  ≥1200px
@include media-breakpoint-up(xl) {
	.post-elizabeth-title {
		font-size: 44px;
	}
}
