/*
*
* Quotes
*/
//
// Table of Contents:
//
// Quote Default
// Quote Modern
// Quote Minimal
//

// Quote Default
.quote-default {
  text-align: center;
}

.quote-default-text {
  position: relative;
  padding: 30px 0 43px;
  overflow: hidden;
  font-size: 20px;
  line-height: 30px;
  color: $gray-800;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 400px;
    height: 2px;
    transform: translateX(-50%);
    background: $gray-800;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.quote-default-cite {
  padding-top: 15px;
  color: var(--color-bg-default);
  font-size: 14px;
}

// Medium ≥768px
@include media-breakpoint-up(md) {
  .quote-default-text {
    font-size: 33px;
    line-height: 40px;
  }
}

//
// Quote Modern
//
.quote-modern {
  position: relative;
  padding-left: 50px;
  &::before {
    position: absolute;
    top: 12px;
    left: 0;
    width: 40px;
    content: '';
    border-top: 1px solid $gray-1;
    pointer-events: none;
  }
}

.quote-modern-text {
  font-size: 16px;
  letter-spacing: 0.05em;
}

* + .quote-modern {
  margin-top: 20px;
}

// Medium ≥768px
@include media-breakpoint-up(md) {
  .quote-modern {
    padding-left: 90px;
    &::before {
      width: 70px;
    }
  }
  .quote-modern-text{
    font-size: 18px;
  }
}

//
// Quote Minimal
//
.quote-minimal {
  display: flex;
  font-size: 14px;
  line-height: (26 / 16);
  letter-spacing: .05em;

  > * + * {
    margin-top: 0;
    margin-left: 20px;
  }
}

.quote-minimal-mark {
  position: relative;
  top: 5px;
  flex-shrink: 0;
  fill: $gray-100;
}

* + .quote-minimal { margin-top: 25px; }

%context-dark {
  .quote-minimal {
    color: $white;
  }
}

@include media-breakpoint-up(xl) {
  .quote-minimal {
    font-size: 16px;
  }
}