/*
*
* Thumbnails
*/

//
// Table of Contents:
//
// Thumbnail Classic
// Thumbnail Modern
// Thumbnail Minimal
// Thumb Video
// Thumbnail Alice
//

.img-responsive {
	width: 100%;
}

.img-circle {
	border-radius: 50%;
}

//
// Thumbnail Classic
//
.thumbnail-classic {
	position: relative;
	overflow: hidden;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	font-family: $font-family-sec;
	transition: all .3s ease-in-out;

	&::before,
	&::after {
		position: absolute;
		pointer-events: none;
	}

	&::before {
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background: $color-1;
		opacity: .58;
		transition: inherit;
	}

	&::after {
		display: inline-block;
		content: '\e01c';
		top: 50%;
		left: 50%;
		z-index: 2;
		color: $white;
		font-size: 30px;
		font-family: 'fl-budicons-launch';
		transform: translate(-50%, calc(-50% - 20px));
		transition: inherit;
	}
}

.thumbnail-classic-figure {
	display: block;
	transform: scale3d(1.1, 1.1, 1.1);

	img {
		width: 100%;
		will-change: transform;
	}
}

.thumbnail-classic-caption {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 20px;
	background: $gray-4;
	transition: inherit;
}

.thumbnail-classic-panel-left {
	position: relative;
	text-align: left;
}

.thumbnail-classic-title {
	color: $white;
	opacity: 1;
	visibility: visible;
	transition: all 300ms ease-in-out 200ms;
}

.thumbnail-classic-subtitle {
	display: none;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .025em;
	color: $gray-6;
	opacity: 0;
	transform: translate3d(0, 200%, 0);
	transition: all 300ms ease-in-out 100ms;
}

.thumbnail-classic-panel-right {
	position: relative;
	text-align: right;
	line-height: 1;
}

.thumbnail-classic-panel-toggle {
	position: relative;
	display: none;
	font-size: 24px;
	color: $gray-6;
	opacity: 1;
	visibility: visible;
	cursor: pointer;
	transition: all 300ms ease-in-out 200ms;
	z-index: 1;
}

.thumbnail-classic-list {
	font-size: 18px;
	line-height: 1;
	color: $white;
	white-space: nowrap;

	a {
		@include link(inherit, $secondary);
	}

	li {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: all 300ms ease-in-out;
	}

	$nth: li !default;

	@for $i from 1 through 10 {
		$delayStep: 50ms;

		#{$nth}:nth-child(#{$i}) {
			transition-delay: $delayStep + $delayStep*$i;
		}
	}
}

.desktop {

	.thumbnail-classic {

		&::before {
			opacity: 0;
		}

		&::after {
			opacity: 0;
			visibility: hidden;
			transform: translate(-50%, -50%);
		}
	}

	.thumbnail-classic-caption {
		transform: translateY(100%);
	}

	.thumbnail-classic-title {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate3d(0, -50%, 0);
	}

	.thumbnail-classic-subtitle { display: inline-block; }

	.thumbnail-classic-panel-toggle { display: inline-block; }

	.thumbnail-classic-list {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(calc(-50% - 4px));
		pointer-events: none;

		li {
			opacity: 0;
			transform: translate3d(0, 200%, 0);
		}
	}

	.thumbnail-classic:hover {

		.thumbnail-classic-figure {
			position: relative;
			transform: scale3d(1, 1, 1);
		}

		.thumbnail-classic-caption {
			transform: translateY(0);
		}

		&::after {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, calc(-50% - 20px));
		}

		&::before {
			opacity: .58;
		}
	}

	.thumbnail-classic-panel-right:hover {

		.thumbnail-classic-panel-toggle {
			opacity: 0;
			visibility: hidden;
			transition-delay: 0s;
		}

		.thumbnail-classic-list {
			pointer-events: auto;

			li {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
	}

	.thumbnail-classic-panel-right:hover ~ .thumbnail-classic-panel-left {

		.thumbnail-classic-title {
			opacity: 0;
			visibility: hidden;
			transition-delay: 0s;
		}

		.thumbnail-classic-subtitle {
			opacity: 1;
			transform: translate3d(0, 0, 0)
		}
	}
}

//
// Thumbnail Modern
//

.thumbnail-modern {
	position: relative;
	overflow: hidden;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: $gray-6;
	font-family: $font-family-sec;
	transition: all 300ms ease-in-out;

	img {
		width: 100%;
	}
}

.thumbnail-modern-caption {
	width: 100%;
	padding: 22px;
	background: $gray-2;
	transition: inherit;
	will-change: transform;
	z-index: 1;
}

.thumbnail-modern-title {
	color: $secondary;
}

.thumbnail-modern-date {
	display: block;
	font-weight: 500;
	font-size: .85em;
	letter-spacing: .025em;
	text-transform: uppercase;
	transition: inherit;
}

.desktop {

	.thumbnail-modern {
		padding-bottom: 66px;
	}

	.thumbnail-modern-caption {
		position: absolute;
		bottom: 0;
		transform: translate3d(0, 18px, 0);
	}

	.thumbnail-modern-date {
		opacity: 0;
		visibility: hidden;
	}

	.thumbnail-modern:hover {

		.thumbnail-modern-date {
			opacity: 1;
			visibility: visible;
		}

		.thumbnail-modern-caption {
			transform: translate3d(0, 0, 0);
		}
	}
}

//
// Thumbnail Creative
//

.thumbnail-creative {
	position: relative;
	overflow: hidden;
	display: block;
	text-align: center;
	background: $color-2;
	cursor: pointer;

	img {
		position: relative;
		display: block;
		min-height: 100%;
		max-width: 100%;
		width: 100%;
		opacity: 1;
		transition: opacity 0.35s, transform 0.35s;
		transform: scale3d(1.1, 1.1, 1);
		will-change: transform;
	}
}

.thumbnail-creative-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	color: #fff;

	&::before,
	&::after {
		position: absolute;
		pointer-events: none;
	}

	&::before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($white, 0.5);
		content: '';
		transition: transform 0.6s;
		transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
	}

	&::after {
		display: inline-block;
		content: '\e01c';
		top: 50%;
		left: 50%;
		z-index: 1;
		font-size: 24px;
		font-family: 'fl-budicons-launch';
		opacity: 0;
		transform: translate(-50%, calc(-50% + 10px));
		transition: all 150ms ease-in-out;
	}
}

.thumbnail-creative:hover {

	img {
		opacity: 0.5;
		transform: scale3d(1, 1, 1);
	}

	.thumbnail-creative-overlay {

		&::before {
			transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
		}

		&::after {
			opacity: 1;
			transform: translate(-50%, -50%);
			transition-delay: 300ms;
		}
	}
}

.mobile,
.tablet {

	.thumb--effect-apollo {
		img {
			opacity: 0.5;
			transform: scale3d(1, 1, 1);
		}
	}

	.thumbnail-creative-overlay {

		&::before {
			transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
		}
	}
}

//
// Thumbnail Minimal
//

.thumbnail-minimal {
	text-align: center;
	> * + * {
		margin-top: 15px;
	}
}

.thumbnail-minimal-title {
	font-family: $font-family-sec;
	font-weight: 500;
	color: $gray-800;
	text-transform: uppercase;
}

.thumbnail-minimal-figure {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-height: 150px;
}

.thumbnail-minimal-counter {
	h2 {
		font-weight: 400;
		line-height: 1;
	}
}

@include media-breakpoint-up(md) {
	.block-thumbnail-minimal {
		[class*='col-'] + [class*='col-'] {
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 0;
				width: 1px;
				height: 165px;
				content: '';
				background: $gray-1;
				transform: translateY(-50%);
			}
		}
	}
}

//
// Thumb video
//
.thumb-video {
	position: relative;
	overflow: hidden;
	display: block;
	background: $gray-800;
	text-align: center;

	.embed-responsive {
	}
}

.height-fill {
	.thumb-video {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: $black;
	}
}

.thumb-video-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.thumb-video-image {
	width: auto;
	height: auto;
	max-width: none;
}

.thumb-video-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: $gray-800;
	cursor: pointer;

	.thumb-video-image {
		min-height: 100%;
	}
}

.thumb-video-content {
	background: $gray-800;
}

.thumb-video-button {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 63px;
	height: 63px;
	line-height: 0;
	font-size: 0;
	border-radius: 50%;
	color: $gray-800;
	background: var(--background-color-default);
	cursor: pointer;
	transition: .22s;

	&::after {
		content: '\e037';
		font-family: 'Material Icons';
		font-size: 25px;
		line-height: 1;
	}

	&:hover {
		color: var(--color-bg-default);
	}
}

.thumb-video-content,
.thumb-video-image {
	min-width: 100%;
}

@supports (object-fit: cover) {
	.thumb-video-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

* + .thumb-video-title { margin-top: 10px; }

//
// Thumbnail Alice
//
a.thumbnail-alice {
	display: block;
}

.thumbnail-alice {
	position: relative;
	overflow: hidden;
	transition: .8s cubic-bezier(.2, 1, .2, 1);
	transform: translate3d(0, 0, 0);

	img {
		width: 100%;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background: rgba($shark, .3);
		opacity: 0;
		transition: .4s;
	}

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		content: '\e01c';
		z-index: 1;
		font-size: 24px;
		font-family: 'fl-budicons-launch';
		opacity: 0;
		transition: all 150ms ease-in-out;
		color: $white;
	}

	&:hover {
		&::before,
		&::after {
			opacity: 1;
		}

		.thumbnail-alice-figure {
			transform: scale(1.1);
		}
	}
}

.thumbnail-alice-figure {
	position: relative;
	transition: .34s;
}
