/*
*
* Typography
*/

//
// Body
//
body {
  display: block;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  letter-spacing: $_ls-base;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

//
// Headings
//
#{headings()} {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  letter-spacing: $heading-letter-spacing;
  color: $headings-color;
  text-transform: uppercase;

  a {
    color: var(--color-typo-primary);

    &:hover {
      color: $primary;
    }
  }
}

h1,
.heading-1 {
  font-size: 32px;
  line-height: 1.3;

  // Medium ≥768px
  @include media-breakpoint-up(md) {
    font-size: 40px;
    line-height: 1.15;
  }

  @include media-breakpoint-up(xl) {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }
}

h2,
.heading-2 {
  font-size: 28px;
  line-height: 1.5;

  @include media-breakpoint-up(xl) {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
  }
}

h3,
.heading-3 {
  font-size: 24px;
  line-height: 1.5;

  @include media-breakpoint-up(xl) {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
  }
}

h4, .heading-4,
h5, .heading-5,
h6, .heading-6 {
  letter-spacing: $_ls-base;
}

h4,
.heading-4 {
  font-size: 20px;
  line-height: 1.35;

  @include media-breakpoint-up(xl) {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
  }
}

h5,
.heading-5 {
  font-size: 18px;
  line-height: 1.35;

  @include media-breakpoint-up(xl) {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
  }
}

h6,
.heading-6 {
  font-size: 14px;
  line-height: 1.35;

  @include media-breakpoint-up(xl) {
    font-size: $h6-font-size;
    line-height: $h6-line-height;
  }
}

.heading-7 {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: .05em;
}

//
// Heading decorations
//
.heading-decoration-1 {
  position: relative;
  &::before {
    content: '';
    position: relative;
    top: .55em;
    display: inline-block;
    vertical-align: top;
    width: (1em / 60 * 50);
    margin-right: .3em;
    border-bottom: 3px solid;
  }
}

.heading-decoration-2 {
  position: relative;
  padding-left: 40px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: .5em;
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    background: $secondary;
  }
}

* + .heading-decoration-2 { margin-top: 20px; }

//
// Emphasis
//
small,
.small {
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

mark,
.mark {
  padding: $mark-padding;
  color: $white-invariable;
  background: $mark-bg;
}

// Big text
.big {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  font-weight: $lead-font-weight;
}

code {
  padding: $code-padding-y $code-padding-x;
  border-radius: $border-radius-sm;
  font-size: $code-font-size;
  color: $code-color;
  background: $code-bg;
}

//
// Paragraph
//
p {
  [data-toggle='tooltip'] {
    padding-left: .25em;
    padding-right: .25em;
    color: $primary;
  }

  [style*='max-width'] {
    display: inline-block;
  }
}

//
// Custom paragraph variants
//
.text-style-1 {
  font-family: $font-family-sec;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: $gray-500;
}

//
// Custom paragraph variants
//

.text-style-2 {
  position: relative;
  overflow: hidden;
  padding-left: 35px;
  font-family: $font-family-sec;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: .05em;
  text-transform: uppercase;

  span {
    position: relative;
    padding-left: 10px;

    &::before {
      position: absolute;
      top: 50%;
      transform: translate3d(-100%, -50%, 0);
      left: 0;
      content: '';
      border-bottom: 1px solid;
      width: 100vw;
    }
  }

  // Medium ≥768px
  @include media-breakpoint-up(md) {
    padding-left: 75px;
  }
}

.text-style-2 + * { margin-top: 15px; }

%context-dark {
  .text-style-2 {
    color: rgba($white, .6);
  }
}

.text-style-3 {
  font-weight: 700;
  font-style: italic;
}

.text-style-4 {
  font-family: $font-family-sec;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

* + .text-style-4 { margin-top: 5px; }

//
// Custom headings variants
//
.heading-component {
  position: relative;
  line-height: 1;
  border-bottom: 1px solid var(--background-color-border);
}

.heading-component-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @include groupX(15px);

  > * { margin-bottom: 11px; }
  * + .button { margin-top: 0; }
}

.heading-component-title {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  line-height: 26px;

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    border-left: 4px solid var(--background-color-brand);
    pointer-events: auto;
  }

  &::after {
    //content: '';
    display: inline-block;
    min-height: inherit;
    width: 0;
    vertical-align: middle;
  }

  .icon {
    margin-right: 4px;
    vertical-align: middle;
  }
}

.heading-component + * { margin-top: 25px; }
.heading-component + .row { margin-top: 25px; }
.heading-component-simple {
  .heading-component-title {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

.bg-gray-100 {
  .heading-component {
    border-bottom-color: $gray-200;
  }
}

.time-decorated {
  display: inline-block;
  position: relative;
  padding: 0 90px;

  font-family: $font-family-sec;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: .66em;
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    border-bottom: 1px solid $gray-500;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

%context-dark {
  .time-decorated {
    color: rgba($white, .6);

    &::before,
    &::after {
      border-color: rgba($white, .27);
    }
  }
}

.h1-em {
  font-weight: 700;
  font-style: italic;
}

* + .h1-em { margin-top: 10px; }
