root {
  --color-type-primary: #018cac;
  --color-type-hover: #003d4b;
  --size-typo-legend: 14px;
  --main-color: #018cac;
}
@import '~bulma/sass/utilities/_all';

@import "varibles";

@import '~bulma';
@import '~buefy/src/scss/buefy';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');






.blue {
  color: #09438e;
}
.red {
  color: #8a0000;
}
.green {
  color: green;
}
.strong {
  font-weight: 800;
}
.report-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    height: 6rem;
    width: 6rem;
    i {
      font-size: 6rem;
      color: #fff;
    }
  }
}
@media screen and (max-width: 450px) {
  .column.is-three-quarters {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 769px) {
  .main-content {
    padding-left: 20px;
  }
}
