html {
  --color-type-brand: #018cac;
  --color-type-default: #242424;
  --color-bg-default: #fafafa;
  --color-bg-brand: #f6f6f6;
  --color-bg-acent: #ffffff;
  --color-type-hover: #003d4b;
  --size-typo-legend: 14px;
  --main-color: #018cac;
}
@media (prefers-color-scheme: dark) {
  html {
    --color-type-default: #dbdbdb;
    --color-type-brand: #018cac;
    --color-bg-default: #181818;
    --color-bg-brand: #232323;
    --color-bg-acent: #020202;
    --color-type-hover: #003d4b;
    --size-typo-legend: 14px;
    --main-color: #018cac;
  }
}

@import '~bulma/sass/utilities/_all';

@import "varibles";

@import '~bulma';
@import '~buefy/src/scss/buefy';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.footer,
.card {
  background-color: var(--color-bg-brand);
  border-color: var(--color-type-default);
  color: var(--color-type-default);
}
#app {
  background-color: var(--color-bg-default);
  color: var(--color-type-default);
}



.blue {
  color: #09438e;
}
.red {
  color: #8a0000;
}
.green {
  color: green;
}
.strong {
  font-weight: 800;
}
.report-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    height: 6rem;
    width: 6rem;
    i {
      font-size: 6rem;
      color: #fff;
    }
  }
}
@media screen and (max-width: 450px) {
  .column.is-three-quarters {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 769px) {
  .main-content {
    padding-left: 20px;
  }
}
.multiselect__tags {
  white-space: nowrap;
}
.main-fish-info {
  .select {
    width: 100%;
    & select {
      width: 100%;
    }
  }
}
.multiselect .multiselect__tags {
  background-color: var(--color-bg-brand);
  color: var(--color-type-default);
  border-color: var(--color-type-default);
  &::placeholder {
    color: var(--color-type-default);
  }
}
.buttons {
  .button {
    background-color: var(--color-bg-acent);
    color: var(--color-type-default);
    border-color: var(--color-bg-default);
  }
}

.field {
  input,
  textarea {
    background-color: var(--color-bg-brand);
    color: var(--color-type-default);
    border-color: var(--color-type-default);
    &::placeholder {
      color: var(--color-type-default);
    }
  }
  label {
    color: var(--color-type-default);
  }

}
.title-blogs-end {
  color: var(--color-type-brand);
  font-size: 1rem;
  padding: 1rem;
  background: var(--color-bg-brand);
  margin-right: 12px;
  border-radius: 5px;
}

.navbar {
  background-color: var(--color-bg-brand);
  color: var(--color-type-default);
  a {
    &:hover {
      background-color: var(--color-bg-acent);
    }
  }
  .navbar-item, .navbar-link {
    color: var(--color-type-default);
  }
}
